<!DOCTYPE html>
<html lang="en">

<body id="page_setup">
 

  <!-- Body Wrapper Start -->
  <div class="body_wrapper container-fluid">
     <!-- Header Start -->
  <app-header></app-header>
  <!-- Header End -->
    <div class="px-4">
      <div class="row pt-4">
        <div class="col-12">
          <div class="d-flex align-items-center head-tag">
            <h2>
              <span class="d-block tag-h-1">Edit Order: #3</span>
              <span class="d-block tag-h-2">Rayyan</span>
            </h2>
            <div>
              <button class="btn-setup-sucess mr-2">
                <i class="icon-add mr-1"></i>Add Notes
              </button>
              <button class="btn-setup-sucess w-px-100 mr-2">
                <i class="icon-add mr-1"></i>Discount
              </button>
              <button class="btn-setup-danger w-px-100 mr-2">
                <i class="icon-lock mr-1"></i>Void
              </button>
              <button class="btn-setup-sucess w-px-100">
                <i class="icon-edit mr-1"></i>Modify
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>