<!DOCTYPE html>
<html lang="en">

<body id="page_setup">


  <!-- Body Wrapper Start -->
  <form>
    <div class="body_wrapper container-fluid">
      <!-- Header Start -->
      <app-header></app-header>
      <!-- Header End -->
      <div class="px-4">
        <div class="row pt-4">
          <div class="bgSecMainAll">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item cursor-pointer" routerLink="/home/walkin">
                  Home
                </li>
                <li class="breadcrumb-item cursor-pointer" aria-current="page" routerLink="/setup">
                  Setup
                </li>
                <li class="breadcrumb-item cursor-pointer" aria-current="page" routerLink="/setup/location">
                  Locations
                </li>
                <li class="breadcrumb-item cursor-pointer" aria-current="page" routerLink="/setup/{{id}}/editLocation">
                  Location Setup
                </li>
                <li class="breadcrumb-item active cursor-pointer" aria-current="page">
                  Settings
                </li>
              </ol>
            </nav>
          </div>
          <div class="col-12">
            <div class="d-flex align-items-center head-tag ">
              <h4>
                <i class="icon-arrow-left mr-1 cursor-pointer" (click)="back()"> </i> Other Settings
              </h4>
            </div>
          </div>
        </div>
        <div class="row pt-4">

          <div class="col-12 col-sm-3 com-md-3 cursor-pointer" (click)="posSettings()">
            <div class="card p-3 p-xl-4 mb-3 tag-hvr-scn">
              <div class="text-center card-inner-scn">
                <i class="icon-briefcase"></i>
                <p matTooltip="POS">POS</p>
              </div>
            </div>
          </div>
          <!-- <div class="col-12 col-sm-3 com-md-3 cursor-pointer" (click)="pushnotificationsSettings()">
            <div class="card p-3 p-xl-4 mb-3 tag-hvr-scn">
              <div class="text-center card-inner-scn">
                <i class="icon-globe"></i>
                <p matTooltip="Push Notifications">Push Notifications</p>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </form>
</body>

</html>
