.searchno{
	width: 700px;
margin: 10% auto;
  margin-top: 10%;
  margin-bottom: 10%;
text-align: center;
}

.center{
display: block;
margin: 0 auto 30px;

}
.b-right {
  float: right;
  padding-top: 1rem;
}
.discount-card {
	background: #d6d6d6;
			padding: 15px;
			white-space: normal;
			h5 {
				font-size: 10px;
				font-weight: 600;
				color: #565656;
				margin: 0;
				text-transform: uppercase;
				border-bottom: 1px solid #a6a0a0;
			}
			h6 {
				font-size: 12px;
				font-weight: 600;
				color: #a09d9d;
				margin: 0;
			}
			
		}
  