.selectBarMain {
  width: 100%;
}

.btnInstr {
  background: var(--primary);
  color: var(--white);
  border: 1px solid #4c3e95;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 15px;
  margin-bottom: 8px;
}
