.text-font{
    font-size:large;
}
.radio-container{
    margin-right: 15px;
    display: inline-block;
}
.example-full-width {
    width: 100%;
  }
 .label-align{
    text-align: right;
 } 

 .label-center{
     text-align: center;
 }
 ::ng-deep input.mat-mdc-input-element { 
    background-color: white; 
    height: 40px;
    width: 100%;
	  border:1px solid #ced4da;
   }
   .message{
    font-size: 15px;
    
    padding-top: 10%;
    text-align: center;
    font-style: italic;
  }
  .prf-scn {
	background: var(--white);;
	margin: 15px 0;
	padding: 15px;
	
	h4 {
		font-size: 18px;
		font-weight: 400;
		color: #565656;
	}

  }

.tableStyleMain{ margin-top: 7px ;

    th{
      padding: 10px; border-right: 1px #e2e3e3 solid; text-align: center;
    }
  
    td{
      padding: 10px; border-right: 1px #eceeee  solid; text-align: center;
    }
  
  }