<!DOCTYPE html>
<html lang="en">

<body id="page_setup">


  <!-- Body Wrapper Start -->
  <div class="body_wrapper container-fluid">
    <!-- Header Start -->
    <app-header></app-header>
    <!-- Header End -->
    <div class="px-4">
      <div class="row pt-4">
        <div class="bgSecMainAll">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item cursor-pointer" routerLink="/home/walkin">
                Home
              </li>
              <li class="breadcrumb-item cursor-pointer" aria-current="page" routerLink="/setup">
                Setup
              </li>
              <li class="breadcrumb-item active cursor-pointer" aria-current="page">
                Global Settings
              </li>
            </ol>
          </nav>
        </div>
        <div class="col-12">
          <div class="d-flex align-items-center head-tag ">
            <h4 class="flex-gr-1">
              <i class="icon-arrow-left mr-1 cursor-pointer" routerLink="/setup"></i>Global Settings
            </h4>
          </div>
        </div>
      </div>
      <div class="row pt-4">
        <div class="col-12 col-sm-3 com-md-3 cursor-pointer" (click)="orderCancellation()">
          <div class="card p-3 p-xl-4 mb-3 tag-hvr-scn">
            <div class="text-center card-inner-scn">
              <i class="icon-map-marker"></i>
              <p matTooltip="Order Cancellation Reasons">
                Order Cancellation Reasons
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-3 com-md-3 cursor-pointer" (click)="orderModify()">
          <div class="card p-3 p-xl-4 mb-3 tag-hvr-scn">
            <div class="text-center card-inner-scn">
              <i class="icon-edit"></i>
              <p matTooltip="Order Modify Reasons">Order Modify Reasons</p>
            </div>
          </div>
        </div>
        <!-- <div class="col-12 col-sm-3 com-md-3 cursor-pointer">
                    <div class="card p-3 p-xl-4 mb-3 tag-hvr-scn">
                        <div class="text-center card-inner-scn">
                            <i class="zmdi zmdi-accounts-alt"></i>
                            <p matTooltip ="Combo Sections">Combo Sections</p>
                        </div>
                    </div>
                </div> -->
        <div class="col-12 col-sm-3 com-md-3 cursor-pointer" (click)="passwords()">
          <div class="card p-3 p-xl-4 mb-3 tag-hvr-scn">
            <div class="text-center card-inner-scn">
              <i class="icon-lock"></i>
              <p matTooltip="Supervisor Password">Supervisor Password</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-3 com-md-3 cursor-pointer" (click)="payment()">
          <div class="card p-3 p-xl-4 mb-3 tag-hvr-scn">
            <div class="text-center card-inner-scn">
              <i class="icon-money"></i>
              <p matTooltip="Payment Types">Payment Types</p>
            </div>
          </div>
        </div>
        <!-- <div class="col-12 col-sm-3 com-md-3 cursor-pointer" (click)="referals()">
          <div class="card p-3 p-xl-4 mb-3 tag-hvr-scn">
            <div class="text-center card-inner-scn">
              <i class="icon-share"></i>
              <p matTooltip="Referrals">Referrals</p>
            </div>
          </div>
        </div> -->

        <div class="col-12 col-sm-3 com-md-3 cursor-pointer" (click)="customerGroup()">
          <div class="card p-3 p-xl-4 mb-3 tag-hvr-scn">
            <div class="text-center card-inner-scn">
              <i class="icon-group"></i>
              <p matTooltip="Customer Groups">Customer Groups</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-3 com-md-3 ">
          <div class="card p-3 p-xl-4 mb-3 tag-hvr-scn" (click)="entity()">
            <div class="text-center card-inner-scn cursor-pointer">
              <i class="icon-map-marker"></i>
              <p matTooltip="Entities">Delivery Entities</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-3 com-md-3 ">
          <div class="card p-3 p-xl-4 mb-3 tag-hvr-scn" (click)="showOnWebSettings()">
            <div class="text-center card-inner-scn cursor-pointer">
              <i class="icon-map-marker"></i>
              <p matTooltip="Online Branches">Online Branches</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-3 com-md-3 ">
          <div class="card p-3 p-xl-4 mb-3 tag-hvr-scn" (click)="Utilities()">
            <div class="text-center card-inner-scn cursor-pointer">
              <i class="zmdi zmdi-cutlery"></i>
              <p matTooltip="Utilities">Utilities</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
