.active {
  background: var(--primary) !important;
  color: var(--white) !important;
  opacity: 1 !important;
  border-radius: 10px;
}
.message {
  font-size: 15px;
  padding-top: 10%;
  text-align: center;
  font-style: italic;
}
.img-icon-cd {
  width: 35px;
}
.not-found {
  background: #d7d7d7;
  padding: 15px;
  margin-top: 20px;
  h3 {
    font-size: 30px;
    color: #565656;
    font-weight: 600;
  }
  p {
    font-size: 16px;
    color: #727070;
    font-weight: 400;
  }
}
