<!DOCTYPE html>
<html lang="en">

<body id="page_setup">


  <!-- Body Wrapper Start -->
  <form>
    <div class="body_wrapper container-fluid">
      <!-- Header Start -->
      <app-header></app-header>
      <!-- Header End -->
      <div class="px-4">
        <div class="row pt-4">
          <div class="bgSecMainAll">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item cursor-pointer" routerLink="/home/walkin">
                  Home
                </li>
                <li class="breadcrumb-item cursor-pointer" aria-current="page" routerLink="/setup">
                  Setup
                </li>
                <li class="breadcrumb-item cursor-pointer" aria-current="page" routerLink="/setup/location">
                  Locations
                </li>
                <li class="breadcrumb-item cursor-pointer" aria-current="page" routerLink="/setup/{{id}}/editLocation">
                  Location Setup
                </li>
                <li class="breadcrumb-item cursor-pointer" aria-current="page"
                  routerLink="/setup/location/{{id}}/settings">
                  Settings
                </li>
                <li class="breadcrumb-item active cursor-pointer" aria-current="page">
                  Push notifications
                </li>
              </ol>
            </nav>
          </div>

          <div class="col-12">
            <div class="d-flex align-items-center head-tag ">
              <h4>
                <i class="icon-arrow-left mr-1 cursor-pointer" (click)="back()"> </i> Push Notification Settings
              </h4>
            </div>
          </div>
        </div>
        <div class="row mt-4">

          <div class="col-12 col-sm-4">
            <form [formGroup]="notificationForm">
              <div class="custom-crd">
                <div class="text-center tg-card">
                  <span><i class="icon-globe"></i>Enable Push notifications For</span>
                </div>
                <div class="mt-2">
                  <mat-slide-toggle class="mb-2" formControlName="on_order_accepted">
                    On order accepted</mat-slide-toggle>
                  <mat-slide-toggle class=" mb-2" formControlName="on_order_rejected">
                    On order rejected</mat-slide-toggle>
                  <mat-slide-toggle class=" mb-2" formControlName="on_order_assigned_to_driver">
                    On order assigned to driver</mat-slide-toggle>
                  <mat-slide-toggle class=" mb-2" formControlName="on_driver_order_accepted">
                    On driver order accepted</mat-slide-toggle>
                  <mat-slide-toggle formControlName="on_driver_order_delivered">
                    On driver order delivered</mat-slide-toggle>
                </div>

              </div>
            </form>
          </div>
        </div>
        <div class=" mt-2"> <button class="btn-setup-sucess" (click)="saveSettings()">Save </button></div>

      </div>
    </div>
  </form>
</body>

</html>
