.quick-btn {
  display: flex;
  padding: 0.8em 0;
  margin: 0 auto;
  // justify-content: space-evenly;

  li {
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    border-radius: 6px;
    padding: 1em;
    flex: 0 0 7vw;
    height: 6.5vw;
    display: block;
    background: var(--white);
    transition: all 300ms;
    color: #4c3e95;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    margin-left: 0.5vw;
    text-align: center;
  }
  .cnt {
    // font-size: 3vw;
    margin: 0px;
  }
}
