<div class="modal-wrapper">
    <h2>Take Away</h2>
    <h3>Choose the location where the customer wants to pickup.</h3>
    <div mat-dialog-content>
        <div class="row"  >
            <div class="col-12 cursor-pointer ">
                <ul class="quick-btn">
                    <li *ngFor="let i of branchRecords" (click)="saveWithLocation(i.id,i.name)"><p>{{i.name}}</p></li>                    
               </ul>
    
            </div>
            <!-- <div class="col-lg-3 select-tag-scn select-tag-green cursor-pointer " *ngFor="let i of branchRecords">
                <div class="dine-scn-content"  >
                     <button class="btn-setup-sucess" (click)="saveWithLocation(i.id,i.name)">{{i.name}}</button>
                    </div>
                </div>
            </div> -->
    </div>
    <div>
        <div class="text-right pt-2">
              <button class="btn-setup-danger mr-2 w-px-100" (click)="close()">
                Cancel
            </button>
        </div>       
    </div> 
    
    </div>
