<!doctype html>
<html lang="en">

<body id="page_items">


    <!-- Body Wrapper Start -->
    <div class="body_wrapper">
            <!-- Header Start -->
    <app-header></app-header>
    <!-- Header End -->
        <div class="page_title">
            <div class="row align-items-center mx-0">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 p-0">
                    <div class="title_inner d-flex">
                        <h1 class="d-flex align-items-center">Food Items
                            <!--                            <span class="ml-4">$987.50</span>-->
                        </h1>
                        <button type="button" class="btn"><a href="upload_item.html">Add New</a></button>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 p-0 d-flex">
                    <form
                        class="search_box col-12 col-sm-12 col-md-12 col-lg-8 col-xl-7 p-0 px-lg-3 mt-3 mt-lg-0 pb-3 pb-md-0 ml-auto">
                        <div class="form-group d-flex">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="zmdi zmdi-search"></i></div>
                            </div>
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="right_sidebar">
            <!-- Tab Content Start -->
            <div class="tab-content">
                <div class="">
                    <!-- Order List Start -->
                    <div class="order_list">
                        <div class="list_header d-flex">
                            <!--                            <h2 class="text-center order_num Code">Code</h2>-->
                            <h2 class="text-left Name">item Name</h2>
                            <h2 class="text-center Amount Category">Category</h2>
                            <h2 class="text-center Items Options">Add-ons</h2>
                            <h2 class="text-center Table Price">Price</h2>
                            <h2 class="text-center Payment Sales ">Sales</h2>
                            <h2 class="text-right Action">Action</h2>
                        </div>

                        <ul>
                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <!--                                <h3 class="text-center order_num Code">18754</h3>-->
                                <h3 class="text-left Name"><strong>Cheese Burst Sandwich</strong></h3>
                                <h3 class="text-center Amount Category">Fast Food</h3>
                                <h3 class="text-center Items Options">3 <i class="zmdi zmdi-storage"></i></h3>
                                <h3 class="text-center Table Price">$12.00</h3>
                                <h3 class="text-center Payment Sales">112</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <!--
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-eye"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a data-toggle="modal" data-target="#receipt_model"><i class="zmdi zmdi-image"></i></a>
                                    </button>
-->
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>

                                </div>
                            </li>
                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <!--                                <h3 class="text-center order_num Code">18755</h3>-->
                                <h3 class="text-left Name"><strong>Red Source Pasta</strong></h3>
                                <h3 class="text-center Amount Category">Fast Food</h3>
                                <h3 class="text-center Items Options">2 <i class="zmdi zmdi-storage"></i></h3>
                                <h3 class="text-center Table Price">$12.00</h3>
                                <h3 class="text-center Payment Sales">214</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <!--
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-eye"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a data-toggle="modal" data-target="#receipt_model"><i class="zmdi zmdi-image"></i></a>
                                    </button>
-->
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>

                                </div>
                            </li>
                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <!--                                <h3 class="text-center order_num Code">18756</h3>-->
                                <h3 class="text-left Name"><strong>Sugar Free Coke</strong></h3>
                                <h3 class="text-center Amount Category">Beverages</h3>
                                <h3 class="text-center Items Options">4 <i class="zmdi zmdi-storage"></i></h3>
                                <h3 class="text-center Table Price">$12.00</h3>
                                <h3 class="text-center Payment Sales">98</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <!--
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-eye"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a data-toggle="modal" data-target="#receipt_model"><i class="zmdi zmdi-image"></i></a>
                                    </button>
-->
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>

                                </div>
                            </li>
                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <!--                                <h3 class="text-center order_num Code">18757</h3>-->
                                <h3 class="text-left Name"><strong>Cassata Vanilla Ice Cream</strong></h3>
                                <h3 class="text-center Amount Category">Dessert</h3>
                                <h3 class="text-center Items Options">2 <i class="zmdi zmdi-storage"></i></h3>
                                <h3 class="text-center Table Price">$12.00</h3>
                                <h3 class="text-center Payment Sales">221</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <!--
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-eye"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a data-toggle="modal" data-target="#receipt_model"><i class="zmdi zmdi-image"></i></a>
                                    </button>
-->
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>

                                </div>
                            </li>
                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <!--                                <h3 class="text-center order_num Code">18758</h3>-->
                                <h3 class="text-left Name"><strong>Hamm Burger</strong></h3>
                                <h3 class="text-center Amount Category">Fast Food</h3>
                                <h3 class="text-center Items Options">2 <i class="zmdi zmdi-storage"></i></h3>
                                <h3 class="text-center Table Price">$12.00</h3>
                                <h3 class="text-center Payment Sales">221</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <!--
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-eye"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a data-toggle="modal" data-target="#receipt_model"><i class="zmdi zmdi-image"></i></a>
                                    </button>
-->
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>

                                </div>
                            </li>
                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <!--                                <h3 class="text-center order_num Code">18759</h3>-->
                                <h3 class="text-left Name"><strong>Rosted Chicken Legs</strong></h3>
                                <h3 class="text-center Amount Category">Main Course</h3>
                                <h3 class="text-center Items Options">0 <i class="zmdi zmdi-storage"></i></h3>
                                <h3 class="text-center Table Price">$12.00</h3>
                                <h3 class="text-center Payment Sales">99</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <!--
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-eye"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a data-toggle="modal" data-target="#receipt_model"><i class="zmdi zmdi-image"></i></a>
                                    </button>
-->
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>

                                </div>
                            </li>

                            <li class="d-flex no_option animate__animated animate__fadeInUp wow">
                                <!--                                <h3 class="text-center order_num Code">18760</h3>-->
                                <h3 class="text-left Name">
                                    <strong>
                                        <i class="zmdi zmdi-eye-off"></i>
                                        Rosted Chicken Legs
                                    </strong>
                                </h3>
                                <h3 class="text-center Amount Category">Main Course</h3>
                                <h3 class="text-center Items Options">0 <i class="zmdi zmdi-storage"></i></h3>
                                <h3 class="text-center Table Price">$12.00</h3>
                                <h3 class="text-center Payment Sales">99</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <!--
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-eye"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a data-toggle="modal" data-target="#receipt_model"><i class="zmdi zmdi-image"></i></a>
                                    </button>
-->
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>

                                </div>
                            </li>
                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <!--                                <h3 class="text-center order_num Code">18761</h3>-->
                                <h3 class="text-left Name"><strong>Sugar Free Coke</strong></h3>
                                <h3 class="text-center Amount Category">Beverages</h3>
                                <h3 class="text-center Items Options">4 <i class="zmdi zmdi-storage"></i></h3>
                                <h3 class="text-center Table Price">$12.00</h3>
                                <h3 class="text-center Payment Sales">98</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <!--
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-eye"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a data-toggle="modal" data-target="#receipt_model"><i class="zmdi zmdi-image"></i></a>
                                    </button>
-->
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>

                                </div>
                            </li>
                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <!--                                <h3 class="text-center order_num Code">18762</h3>-->
                                <h3 class="text-left Name"><strong>Cassata Vanilla Ice Cream</strong></h3>
                                <h3 class="text-center Amount Category">Dessert</h3>
                                <h3 class="text-center Items Options">2 <i class="zmdi zmdi-storage"></i></h3>
                                <h3 class="text-center Table Price">$12.00</h3>
                                <h3 class="text-center Payment Sales">221</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <!--
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-eye"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a data-toggle="modal" data-target="#receipt_model"><i class="zmdi zmdi-image"></i></a>
                                    </button>
-->
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>

                                </div>
                            </li>
                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <!--                                <h3 class="text-center order_num Code">18763</h3>-->
                                <h3 class="text-left Name"><strong>Hamm Burger</strong></h3>
                                <h3 class="text-center Amount Category">Fast Food</h3>
                                <h3 class="text-center Items Options">2 <i class="zmdi zmdi-storage"></i></h3>
                                <h3 class="text-center Table Price">$12.00</h3>
                                <h3 class="text-center Payment Sales">221</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <!--
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-eye"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a data-toggle="modal" data-target="#receipt_model"><i class="zmdi zmdi-image"></i></a>
                                    </button>
-->
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>

                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- Order List End -->

                    <!-- Tab Footer start -->
                    <div class="tab_footer">
                        <div class="row no-gutter align-items-center">
                            <div class="col-12 col-md-12 col-lg-4 pb-3">
                                <h2>Showing 1 to 10 of 126 item</h2>
                            </div>
                            <div class="col-12 col-md-12 col-lg-8 pb-3">
                                <div class="row align-items-center">
                                    <!--
                                    <form class="col-12 col-sm-12 col-md-7">
                                        <div class="form-group d-flex align-items-center">
                                            <label for="exampleFormControlSelect1">Item per page</label>
                                            <div class="select_box w-100 d-flex">
                                                <select class="form-control mx-3" id="exampleFormControlSelect1">
                                                    <option>10</option>
                                                    <option>15</option>
                                                    <option>20</option>
                                                    <option>25</option>
                                                    <option>30</option>
                                                </select>
                                                <i class="zmdi zmdi-caret-down"></i>
                                            </div>
                                        </div>
                                    </form>
-->

                                    <nav class="navigation col-12 col-sm-12 col-md-12"
                                        aria-label="Page navigation example">
                                        <ul class="pagination justify-content-end mb-0">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i
                                                        class="zmdi zmdi-chevron-left"></i></a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#"><i
                                                        class="zmdi zmdi-chevron-right"></i></a>
                                            </li>
                                        </ul>
                                    </nav>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Tab Footer End -->
                </div>
                <!-- Food Items Tab Content End -->
            </div>
            <!-- Tab Content End -->
        </div>
    </div>
    <!-- Body Wrapper End -->

</body>


<!-- Mirrored from hungerz.opuslab.works/items.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 19 Jul 2021 13:59:27 GMT -->

</html>