<div class="modal-wrapper">
  <form [formGroup]="modifierForm">
    <h2 mat-dialog-title>Add Modifier List</h2>
    <div mat-dialog-content>
      <label>Name</label>
      <span class="error-message">*</span>
      <span class="error-message float-right"
        *ngIf="modifierForm.controls.name.hasError('required' ) && modifierForm.controls.name.touched">Required</span>
      <span class="error-message float-right" *ngIf="modifierForm.controls.name.hasError('pattern' )">Invalid
        input</span>
      <span class="error-message float-right" *ngIf="modifierErrors.name">
        {{modifierErrors.name}}</span>
      <input type="text" class="form-control"
        [ngClass]="modifierForm.controls.name.hasError('required' ) && modifierForm.controls.name.touched || modifierForm.controls.name.hasError('pattern' ) || modifierErrors.name ? 'is-invalid' : ''"
        placeholder="Name" formControlName="name" />
      <label>Secondary Name</label>
      <input type="text" class="form-control" placeholder="Secondary Name" formControlName="secondary_name" />
    </div>
    <div mat-dialog-actions>
      <button class="btn-setup-danger mr-2" (click)="close()">Cancel</button>
      <button class="btn-setup-sucess" [disabled]="!modifierForm.valid || modifierForm.pristine"
        (click)="addModifier()">Submit</button>
    </div>
  </form>
</div>
