.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 18px;
  }
  .plus {
    color: #3ea662;
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
  }
  .min {
    color: red;
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
  }
  