ul {
  padding: 0;
  li {
    list-style: none;
    background: #d7cfbe;
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    &.active {
      background: var(--primary);
      color: var(--white);
    }
  }
}
