::ng-deep input.mat-mdc-input-element { 
    background-color: white; 
    height: 40px;
    width: 97%;
	border:1px solid #ced4da;
    padding-left: 10px;
   }
   .example-chip-list {
	width: 100%;
}