<!DOCTYPE html>
<html lang="en">

<body id="page_setup">


  <!-- Body Wrapper Start -->
  <div class="body_wrapper container-fluid">
    <!-- Header Start -->
    <app-header></app-header>
    <!-- Header End -->
    <div class="px-4">
      <div class="row pt-4">
        <div class="bgSecMainAll">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item cursor-pointer" routerLink="/home/walkin">
                Home
              </li>
              <li class="breadcrumb-item cursor-pointer" aria-current="page" routerLink="/setup">
                Setup
              </li>
              <li class="breadcrumb-item cursor-pointer" aria-current="page" routerLink="/setup/menuSetup">
                Menu Setup
              </li>
              <li class="breadcrumb-item active cursor-pointer" aria-current="page">
                Menu Category
              </li>
            </ol>
          </nav>
        </div>
        <div class="col-12">
          <div class="d-flex align-items-center head-tag ">
            <h4 class="flex-gr-1">
              <i class="icon-arrow-left mr-1 cursor-pointer" (click)="back()"></i>Menu Category
            </h4>
            <div class="d-flex">
              <input type="text" class="form-control" placeholder="Search Menu category" #category
                (keyup)="SearchCategory(category.value)" />
            </div>
            <div class="d-flex" style="padding-bottom: 15px; padding-left: 5px">
              <button class="btn-setup-sucess" (click)="addCategories()">
                <i class="icon-plus mr-1"></i>Add Menu Category
              </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="dataSource.data.length <= 0; else showtable">
        <div class="row">
          <div class="col-12">
            <div class="not-found">
              <h3>Sorry :(</h3>
              <p>There's no Menu Category added yet at this moment.</p>
              <p>Click <a (click)="addCategories()" style="color: var(--primary);cursor: pointer;">here</a> to add Menu
                Category.</p>
            </div>
          </div>
        </div>
      </div>
      <ng-template #showtable>
        <div class="tableStyleMain">
          <table mat-table #table [dataSource]="dataSource" matSort class="mat-z8" cdkDropList
            [cdkDropListData]="dataSource" (cdkDropListDropped)="dropTable($event)" cdkDropListOrientation="vertical">
            <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="matcell">
                #
              </th>
              <td mat-cell *matCellDef="let element">
                {{dataSource.data.indexOf(element) + 1}}
              </td>
            </ng-container>
            <ng-container matColumnDef="icons">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Information</th>
              <td mat-cell *matCellDef="let element">
                <!-- <div *ngIf="element.image_url != 'null';else icon">
                  <img src={{element.image_url}} class="img-icon-cd" alt="image"/>
                </div>
                <ng-template #icon>
                  <div>
                    <img src={{element.icons}} class="img-icon-cd" alt="icon"/>
                  </div> -->
                <!-- </ng-template> -->
                <img *ngIf="element.image_url != null" src="{{this.imageBasePath + element.image_url}}"
                  class="img-icon-cd" alt="image" />
                <img *ngIf="element.image_url == null" src="{{element.icons}}" class="img-icon-cd" alt="icon" />
              </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Category Name</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>
            <ng-container matColumnDef="priority">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Category Priority</th>
              <td mat-cell *matCellDef="let element">{{ element.priority }}</td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let element">
                <span *ngIf="element.status">
                  <i class="icon-ok mr-1"></i>
                </span>
                <span *ngIf="!element.status">
                  <i class="icon-remove mr-1"></i>
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="button">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td class="btn-wrp-equal" mat-cell *matCellDef="let element">
                <button class="btn-setup-sucess" (click)="edit(element.id)" matTooltip="Edit">
                  <i _ngcontent-trm-c429="" class="zmdi zmdi-edit"></i>
                </button>
                <button class="btn-setup-danger" (click)="deleteCategory(element)" matTooltip="Delete">
                  <i _ngcontent-trm-c429="" class="zmdi zmdi-delete"></i>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" cdkDrag [cdkDragData]="row"
              style="cursor:pointer"></tr>
          </table>

        </div>
      </ng-template>
      <mat-paginator [ngClass]="{ show: dataSource.data.length <= 0 }" [pageSize]="50"
        [pageSizeOptions]="[50, 100, 150, 200, 250]">
      </mat-paginator>
    </div>
  </div>
</body>

</html>
