<!doctype html>
<html lang="en">

<body id="page_dashboard">


    <!-- Body Wrapper Start -->
    <div class="body_wrapper pt-2 mt-3">
            <!-- Header Start -->
    <app-header></app-header>
    <!-- Header End -->
        <div class="container-fluid  align-items-start p-0">
            <div class="page_title">
                <div class="row align-items-center mx-0">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 p-0">
                        <div class="title_inner d-flex">
                            <h1 class="d-flex align-items-center">
                                <i
                                class="icon-arrow-left mr-1 cursor-pointer"
                                (click)="back()"
                              ></i
                              >Driver Dashboard
                            </h1>
                        </div>
                    </div>
                    <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 p-0 d-flex">
                        <form
                            class="search_box col-12 col-sm-12 col-md-12 col-lg-8 col-xl-7 p-0 px-lg-3 mt-0 mt-lg-0 pb-3 pb-md-0 ml-auto">
                            <div class="form-group mt-3 mb-0">
                                <div class="select_box  d-flex">
                                    <select #id (change)="filterData(id.value)">
                                        <option value="0">Today</option>
                                        <option value="1">This Month</option>
                                    </select>
                                    <i class="zmdi zmdi-caret-down"></i>
                                </div>
                            </div>
                        </form>
                    </div> -->
                </div>
            </div>

            <div class="right-dasboard ">
               
                <div class="total_box">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-7">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-6 ">
                                    <div class="chart-area py-5 py-sm-5 py-md-5 py-lg-5 px-5 d-flex align-items-center animate__animated animate__zoomIn wow"
                                        data-wow-duration="1s">
                                        <img src="assets/images/ic_energy.png" class="img-fluid">
                                        <div class="text_box">
                                            <h3>New Orders</h3>
                                            <h2>{{newOrders}}</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6">
                                    <div class="chart-area py-5 py-sm-5 py-md-5  py-lg-5 px-lg-3 px-xl-5 px-5  d-flex align-items-center animate__animated animate__zoomIn wow"
                                        data-wow-duration="1s">
                                        <img src="assets/images/ic_Serving.png" class="img-fluid">
                                        <div class="text_box">
                                            <h3>Assigned Orders</h3>
                                            <h2>{{assignedOrders}}</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6">
                                    <div class="chart-area py-5 py-sm-5 py-md-5 py-lg-5 px-5  d-flex align-items-center animate__animated animate__zoomIn wow"
                                        data-wow-duration="1s">
                                        <img src="assets/images/ic_fastfood.png" class="img-fluid">
                                        <div class="text_box">
                                            <h3>Accepted Orders</h3>
                                            <h2>{{acceptedOrders}}</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6">
                                    <div class="chart-area py-5 py-sm-5 py-md-5 py-lg-5 px-5  d-flex align-items-center animate__animated animate__zoomIn wow"
                                        data-wow-duration="1s">
                                        <img src="assets/images/ic_energy.png" class="img-fluid">
                                        <div class="text_box">
                                            <h3>Delivered Orders</h3>
                                            <h2>{{completedOrders}}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      <div class="col-12 col-sm-12 col-md-12 col-lg-5">
                        <div class="text_box chart-area top-selling-items p-4 p-xl-5 pb-5  animate__animated animate__zoomIn wow"
                        data-wow-duration="1s">
                        <h3>Order Data</h3>
                        <div id="chart2" *ngIf="series;else nodata">
                            <apx-chart [series]="donutchartOptions.series" [chart]="donutchartOptions.chart"
                                [labels]="donutchartOptions.labels" [responsive]="donutchartOptions.responsive">
                            </apx-chart>
                        </div>
                        <ng-template #nodata>
                            <div id="chart2" >
                                <h3>No orders today.</h3>
                            </div>
                        </ng-template>
                    </div>
                        </div>
                    </div>
                </div>

                <div class="total_box">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="text_box chart-area top-selling-items p-4 p-xl-5 pb-5  animate__animated animate__zoomIn wow"
                                data-wow-duration="1s">
                                <h3>Assigned Orders</h3>
                                <div class="progress-bar-box d-block d-md-flex align-items-center mb-5 animate__animated animate__fadeInUp wow"
                                    data-wow-duration="1s" >
                                    <div class="img_box pb-3">
                                        <img src="assets/images/ic_delivery.png">
                                    </div>
                                    <div class="bar-box d-flex w-100 align-items-center">
                                      <!-- <span class="h6 m-0">{{staffsale.name}}</span> -->
                                        <div class="progress" style="height: 20px;width: 100%">
                                            <div class="progress-bar bg-success" role="progressbar"
                                                [style.width]="assignedOrdersPercentage" aria-valuenow="92"
                                                aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span style="min-width: 100px;"
                                            class="text-right">{{assignedOrders}}<span>({{assignedOrdersPercentage}})</span></span>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="text_box chart-area top-selling-items p-4 p-xl-5 pb-5  animate__animated animate__zoomIn wow"
                                data-wow-duration="1s">
                                <h3>Active Drivers</h3>
                                
                                <div class="progress-bar-box d-block d-md-flex align-items-center mb-5 animate__animated animate__fadeInUp wow"
                                data-wow-duration="1s" >
                                <div class="img_box pb-3">
                                    <img src="assets/images/ic_delivery.png">
                                </div>
                                <div class="bar-box d-flex w-100 align-items-center">
                                    <!-- <span class="h6 m-0">{{branchsale.name}}</span> -->
                                    <div class="progress" style="height: 20px;width: 100%">
                                        <div class="progress-bar bg-success" role="progressbar"
                                            [style.width]="activeDriversPercentage" aria-valuenow="92"
                                            aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span style="min-width: 100px;" class="text-right">{{activeDrivers}}
                                        <span>({{activeDriversPercentage}})</span></span>
                                </div>
                            </div>
                          
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="text_box chart-area top-selling-items p-4 p-xl-5 animate__animated animate__zoomIn wow"
                                data-wow-duration="1s">
                                <h3>Order Details</h3>
                                <div class="media w-100 d-flex align-items-start mb-3 animate__animated animate__fadeInUp wow"
                                    >
                                    <!-- <div class="img_box center_img">
                                        <img *ngIf="items.image; else noimage" src='{{imageBasePath}}{{items.image}}' class="crop_img" alt="">
                                        <ng-template #noimage>
                                            <img class="crop_img" src="assets/images/no-image (1).jpg" />
                                          </ng-template>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="pb-1">{{items.name}}</h5>
                                        <h6>{{items.qty}} times</h6>
                                    </div> -->
                                   
                                      <ng-template #message>
                                        <div class="row">
                                          <div class="col-12">
                                              <div class="not-found">
                                                  <h3>Sorry :(</h3>
                                                  <p>No orders at this moment.</p>
                                              </div>
                                          </div>
                                      </div>
                                      </ng-template>
                                      <div class="col-12 tableStyleMain">
                                        <table
                                          mat-table
                                          *ngIf="dataSource.data.length > 0; else message"
                                          [dataSource]="dataSource"
                                          matSort
                                          class="mat-z8"
                                        >
                                        <ng-container matColumnDef="index">
                                          <th mat-header-cell *matHeaderCellDef >
                                            #
                                          </th>
                                          <td mat-cell *matCellDef="let element">
                                            {{dataSource.data.indexOf(element) + 1}}
                                          </td>
                                        </ng-container>
                                          <ng-container matColumnDef="Order_no">
                                            <th mat-header-cell *matHeaderCellDef>Order no</th>
                                            <td mat-cell *matCellDef="let element">{{ element.Order_no }}</td>
                                          </ng-container>
                                          <ng-container matColumnDef="branch">
                                            <th mat-header-cell *matHeaderCellDef>Branch</th>
                                            <td mat-cell *matCellDef="let element">{{ element.branch }}</td>
                                          </ng-container>
                                          <ng-container matColumnDef="order_time">
                                            <th mat-header-cell *matHeaderCellDef>Order Taken at</th>
                                            <td mat-cell *matCellDef="let element">{{ element.order_time }}</td>
                                          </ng-container>
                                          <ng-container matColumnDef="delivery_area">
                                            <th mat-header-cell *matHeaderCellDef>Delivery Area</th>
                                            <td mat-cell *matCellDef="let element">{{ element.delivery_area }}</td>
                                          </ng-container>
                                          <ng-container matColumnDef="assigned_driver">
                                            <th mat-header-cell *matHeaderCellDef>Assigned Driver</th>
                                            <td mat-cell *matCellDef="let element">{{ element.assigned_driver }}</td>
                                          </ng-container>
                                          <ng-container matColumnDef="assigned_time">
                                            <th mat-header-cell *matHeaderCellDef>Assigned Time</th>
                                            <td mat-cell *matCellDef="let element">{{ element.assigned_time }}</td>
                                          </ng-container>
                                          <ng-container matColumnDef="delivered_time">
                                            <th mat-header-cell *matHeaderCellDef>Delivered Time</th>
                                            <td mat-cell *matCellDef="let element">{{ element.delivered_time }}</td>
                                          </ng-container>
                                          <ng-container matColumnDef="elapsed_time">
                                            <th mat-header-cell *matHeaderCellDef>Elapsed Time</th>
                                            <td mat-cell *matCellDef="let element">{{ element.elapsed_time }}</td>
                                          </ng-container>
                                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                                        </table>
                                        <mat-paginator [ngClass]="{ show: dataSource.data.length <= 0 }" [pageSize]="10" [pageSizeOptions]="[2, 4, 6, 10, 20]">
                                        </mat-paginator>
                                      </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Body Wrapper End -->
    <!-- Require Javascript End -->

</body>


<!-- Mirrored from hungerz.opuslab.works/dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 19 Jul 2021 13:59:21 GMT -->

</html>
