<!DOCTYPE html>
<html lang="en">

<body id="page_setup">
  <!-- Header Start -->
  <app-header>
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" />
  </app-header>
  <!-- Header End -->

  <!-- Body Wrapper Start -->
  <div class="body_wrapper container-fluid">
    <div class="px-4">
      <div class="page-title">
        <div class="row pt-4">
          <div class="col-6 col-sm-4">
            <div class="title_inner d-flex">
              <h1 class="d-flex align-items-center"><b>Accounts</b></h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row pt-4">
        <div class="col-12 col-sm-3 com-md-3 cursor-pointer" (click)="menuOnClick(pages.menu_url)" *ngFor="let pages of selectedMenuItem">
          <div class="card p-3 p-xl-4 mb-3 tag-hvr-scn cursor-pointer">
            <div class="text-center card-inner-scn" >
              <i class="mr-2" [ngClass]="pages.menu_icon"></i>
              <p matTooltip="{{pages.name}}">{{pages.name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
