<!DOCTYPE html>
<html lang="en">
  <body id="page_setup">


    <!-- Body Wrapper Start -->
    <div class="body_wrapper container-fluid">
          <!-- Header Start -->
    <app-header></app-header>
    <!-- Header End -->
      <div class="px-4">
        <div class="row pt-4">
          <div class="bgSecMainAll">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item cursor-pointer" routerLink="/home/walkin">
                  Home
                </li>
                <li
                  class="breadcrumb-item cursor-pointer"
                  aria-current="page"
                  routerLink="/setup"
                >
                  Setup
                </li>
                <li
                  class="breadcrumb-item cursor-pointer"
                  aria-current="page"
                  routerLink="/setup/partner"
                >
                  Partner
                </li>
                <li
                class="breadcrumb-item active cursor-pointer"
                aria-current="page"
              >
              Accounting Partners
              </li>
              </ol>
            </nav>
          </div>
        </div>
        <div
          class="d-flex align-items-center head-tag  pt-2"
         
        >
          <h4><i class="icon-arrow-left mr-1 cursor-pointer"  (click)="back()"></i>Accounting Partners</h4>
        </div>
        <div class="row pt-4">
          <div class="col-12 col-sm-4 cursor-pointer">
            <div class="card mb-3">
              <img src="assets/images/lg.png" class="w-100" />
              <hr class="m-0" />
              <div class="card-prt-tag p-4">
                <h2>PowaPOS</h2>
                <p>
                  PowaPOS is a hardware and software platform that customises
                  the payment experience in store and on the move.
                </p>
                <div class="text-right">
                  <mat-slide-toggle></mat-slide-toggle>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4 cursor-pointer">
            <div class="card mb-3">
              <img src="assets/images/lg1.png" class="w-100" />
              <hr class="m-0" />
              <div class="card-prt-tag p-4">
                <h2>XERO</h2>
                <p>
                  PowaPOS is a hardware and software platform that customises
                  the payment experience in store and on the move.
                </p>
                <div class="text-right">
                  <mat-slide-toggle></mat-slide-toggle>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4 cursor-pointer">
            <div class="card mb-3">
              <img src="assets/images/lg2.png" class="w-100" />
              <hr class="m-0" />
              <div class="card-prt-tag p-4">
                <h2>Tally</h2>
                <p>
                  PowaPOS is a hardware and software platform that customises
                  the payment experience in store and on the move.
                </p>
                <div class="text-right">
                  <mat-slide-toggle></mat-slide-toggle>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
