        <mat-tab-group>
          <mat-tab label="New Orders">
            <div class="tableStyleMain">
              
              <table >
                <thead>
                  <tr>
                    <th scope="col">Order No.</th>
                    <th scope="col">Order Taken At</th>
                    <th scope="col">Elapsed Time</th>
                    <th scope="col">Delivery Area</th>
                    <th scope="col">Amount</th>
                    <th scope="col"></th>
                  
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    </tr>
                    </tbody>
              </table>
              </div>
          </mat-tab>
          <mat-tab label="Waiting For Pick">
            <div class="tableStyleMain">
              
              <table >
                <thead>
                  <tr>
                    <th scope="col">Order No.</th>
                    <th scope="col">Order Taken At</th>
                    <th scope="col">Elapsed Time</th>
                    <th scope="col">Driver</th>
                    <th scope="col">Location</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    </tr>
                    </tbody>
              </table>
              </div>
          </mat-tab>
          <mat-tab label="Delivery-In Progress">
            <div class="tableStyleMain">
              
              <table >
                <thead>
                  <tr>
                    <th scope="col">Order No.</th>
                    <th scope="col">Order Taken At</th>
                    <th scope="col">Elapsed Time</th>
                    <th scope="col">Driver</th>
                    <th scope="col">Location</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    </tr>
                    </tbody>
              </table>
              </div>
          </mat-tab>
          <mat-tab label="Delivered">
            <div class="tableStyleMain">
              
              <table >
                <thead>
                  <tr>
                    <th scope="col">Driver Name</th>
                    <th scope="col">Total Delivered</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Average Delivery Time</th>
                    <th scope="col"></th>
                  
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    </tr>
                    </tbody>
              </table>
              </div>
          </mat-tab>
        </mat-tab-group>
