<div class="modal-wrapper">
    <mat-dialog-content>
      <div *ngIf="!balanceFlag;else balanceAmount">
        <h3 style="text-align: center;">TOTAL AMOUNT( {{currency_symbol}} )</h3>
        <h1 class="amount">{{data.Cart.amount}}</h1><br>
        <div *ngIf="multiPaymentFlag">
          <table *ngIf="paymentArray.length>0" style="width:100%; text-align: center;">
            <tr *ngFor="let item of paymentArray;let i = index;">
              <td>{{item.payment_name}}</td>
              <td>{{item.amount}}</td>
              <td>
                <mat-icon class="remove" (click)="removeAmount(i)">close</mat-icon>
              </td>
            </tr>
          </table>
        </div><br>
        <form [formGroup]="paymentForm">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="" 
                  formControlName="amount" />
                <span class="error-message float-left" *ngIf="paymentForm.controls.amount.hasError('pattern')">invalid
                  input</span>
              </div>
            </div>
          </div>
          <div class="row" style="margin-right: 0;">
            <div class="col-4" *ngFor="let payment of paymentMethods">
              <mat-card appearance="outlined" [ngClass]=getClass(payment) (click)="paymentButtonClick(payment.id,payment.name)">
                <h4> {{ payment.name }} <strong
                    *ngIf="calculatedLoyaltyPrice != 0.00 && payment.id==3">({{calculatedLoyaltyPrice}}
                    {{currency_symbol}})</strong>
                    <!-- <strong *ngIf="payment.id == 5">({{walletBalance}}&nbsp;{{currency_symbol}}) </strong> -->
                </h4>
              </mat-card>
            </div>
          </div>
        </form>
      </div>
      <ng-template #balanceAmount>
        <div>
          <h3 style="text-align: center;">Balance( {{currency_symbol}} )</h3>
          <h1 style="text-align: center;">{{balance}}</h1>
        </div>
      </ng-template>
    </mat-dialog-content>
    <mat-dialog-actions>
      <div *ngIf="!balanceFlag;else okbutton">
        <button class="btn-setup-danger  commonBtnStyle" style="position:absolute;left:2rem" (click)="close()">Pay Later</button>
        <button class="btn-setup-sucess  commonBtnStyle" (click)="confirmOrder()">Confirm</button>
      </div>
      <ng-template #okbutton>
        <div>
          <button class="btn-setup-danger commonBtnStyle mr-1" (click)="paymentReturn()">Return</button>
          <button class="btn-setup-sucess commonBtnStyle mr-1" (click)="addtowallet()">Add to wallet</button>
          <button class="btn-setup-sucess commonBtnStyle mr-1" (click)="paymentBalance()">Ok</button>
        </div>
      </ng-template>
    </mat-dialog-actions>
  </div>