.text-font{
    font-size:large;
}
.radio-container{
    margin-right: 15px;
    display: inline-block;
}
.example-full-width {
    width: 100%;
  }
 .label-align{
    text-align: right;
 } 

 .label-center{
     text-align: center;
 }