<div class="modal-wrapper">
    <h2 mat-dialog-title>Bacon</h2>
    <div mat-dialog-content>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Items</th>
            <th scope="col">name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Cheese Burger
            </td>
            <td>Add Ons</td>
            <td><button class="btn-setup-danger bg-grey mx-2" (click)="remove()">Remove
            </button></td>
          </tr>
          <tr>
            <td>
              Cheese Burger
            </td>
            <td>Add Ons</td>
            <td><button class="btn-setup-danger bg-grey mx-2" (click)="remove()">Remove
            </button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div mat-dialog-actions>
        <button class="btn-setup-danger mr-2" (click)="close()">Cancel</button>
    </div>
</div>
