.map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}


.close-button {
  float: right;
  top: 7px;
}

.driver-card {
  cursor: pointer;
  background-color: var(--primary);
  color: white;
  text-align: center;
  margin-bottom: 10px;
  // height:100px;
  width: 100%;
  padding-top: 15px;

  h4 {
    font-size: 14px !important;
  }
}

.driver-card:hover {
  background-color: #75ca75;
  border: 1px solid var(--primary);
}

.active {
  background-color: #75ca75;
  border: 1px solid var(--primary);
}

.min-scroll {
  height: 400px;
  overflow-y: scroll;
}

.not-found {
  background: #d7d7d7;
  padding: 15px;
  margin-top: 20px;

  h3 {
    font-size: 30px;
    color: #565656;
    font-weight: 600;
  }

  p {
    font-size: 15px;
    color: #727070;
    font-weight: 400;
  }
}

.reload {
  margin-bottom: 10px;
}

.commonBtnStyle {
  height: 40px;
  width: 130px;
  padding: 0;
}

.my-checkfield {
  border: solid 1px black;
  color: black;
  border-radius: 5px;
  position: relative;
}

.my-checkfield-selected {
  border: solid 2px green;
}

.my-checkfield-selected::before,
.my-checkfield-selected::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-color: transparent;
  border-style: solid;
}

.my-checkfield-selected::after {
  content: "\2713";
  position: absolute;
  top: 0 !important;
  left: -140px !important;
  font-size: 13px;
  line-height: 13px;
  font-weight: bold;
  color: white;
}

.my-checkfield-selected::before {
  border-radius: 0;
  border-width: 12px;
  border-left-color: green;
  border-top-color: green;
}

img {
  width: 60px;
  height: 50px;
  margin-right: 10rem;
  // padding-top: 10px;
}

.content-card {
  display: grid;
  font-size: 12px;
  text-transform: capitalize;
  padding: 6px;
}