<form [formGroup]="addmediaForm">
  <div class="modal-wrapper">
    <h2 mat-dialog-title *ngIf="!data.id">Add Social Media Entites</h2>
    <h2 mat-dialog-title *ngIf="data.id">Edit Social Media Entites</h2>
    <div mat-dialog-content>
      <div class="row col-12">
        <label>Name</label>
        <span class="error-message">*</span>
        <span class="error-message float-right"
          *ngIf="!addmediaForm.controls.name.valid && addmediaForm.controls.name.touched">Required</span>
        <span class="error-message float-right" *ngIf="addmediaForm.controls.name.hasError('pattern')">Invalid
          input</span>
        <span class="error-message float-right" *ngIf="ErrorArray.name">
          {{ ErrorArray.name }}</span>
        <select class="custom-select w-100" [ngClass]="addmediaForm.controls.name.valid && addmediaForm.controls.name.touched || addmediaForm.controls.name.hasError('pattern') ? 'is-invalid' : ''" formControlName="name">
          <option value="">Select</option>
          <option [selected]="name.id == nameSelected ? true : false" *ngFor="let name of mediaRecords" value="{{name.id}}">{{name.name}}</option>
        </select>
        <label>URL</label>
        <span class="error-message">*</span>
        <input class="form-control" placeholder="url" formControlName="url" maxlength="50">
        <mat-checkbox formControlName="show">Show as float icon</mat-checkbox>
      </div>

    </div>
    <div mat-dialog-actions>
      <button class="btn-setup-danger mr-2" (click)="close()">Cancel</button>
      <button class="btn-setup-sucess" *ngIf="!data.id" [disabled]="!addmediaForm.valid" (click)="addEntities()">Save
      </button>
      <button class="btn-setup-sucess" *ngIf="data.id" [disabled]="!addmediaForm.valid"
        (click)="editEntities()">Update</button>
    </div>
  </div>
</form>
