<div class="commonModalMakinDiv">
<div class="modal-wrapper">
   
    <h1 class="capital" mat-dialog-title>{{data.comboItems.item_name}}
      <button mat-icon-button class="close-button" (click)="close()">
        <mat-icon class="close-icon" color="warn">close</mat-icon>
      </button></h1>
    <mat-dialog-content>
        <mat-list role="list" class="mb-4">
            <mat-list-item role="listitem" class="capital"  *ngFor="let item of data.comboItems.combo_item">{{item.item_name}}</mat-list-item>
          </mat-list>
          
    </mat-dialog-content>
   <mat-dialog-actions>
    <div class="text-right button-sec divMainall">
        <button class="btnCancelMain mr-2" (click)="close()">Cancel</button>
        <button class="addModifier" (click)="comboSelect(data.comboItems)">OK</button>
    </div>
   </mat-dialog-actions>
</div>
</div>