.nav-hd-inventory {
  @media only screen and (max-width: 600px) {
    display: none !important;
  }
  background: #677382;
  padding: 10px;
  margin-bottom: 20px;
  & div {
    margin-right: 20px;
    color: var(--white);
    cursor: pointer;
  }
  .active {
    background: var(--white);
    color: #565656;
    padding: 5px;
  }
}
