<!DOCTYPE html>
<html lang="en">
  <body id="page_setup">

    <!-- Body Wrapper Start -->
    <div class="body_wrapper container-fluid">
          <!-- Header Start -->
    <app-header></app-header>
    <!-- Header End -->

      <div class="px-4">
        <div class="row pt-4">
          <div class="bgSecMainAll">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item cursor-pointer" routerLink="/home/walkin">
                  Home
                </li>
                <li
                  class="breadcrumb-item cursor-pointer"
                  aria-current="page"
                  routerLink="/setup"
                >
                  Setup
                </li>
                <li
                  class="breadcrumb-item cursor-pointer"
                  aria-current="page"
                  routerLink="/setup/globalSettings"
                >
                  Global Settings
                </li>
                <li
                  class="breadcrumb-item active cursor-pointer"
                  aria-current="page"
                >
                  Password
                </li>
              </ol>
            </nav>
          </div>
          <div class="col-12">
            <div class="d-flex align-items-center head-tag ">
              <h4 class="flex-gr-1" >
                <i class="icon-arrow-left mr-1 cursor-pointer" (click)="back()"></i>Supervisor Password
              </h4>
            </div>
          </div>
        </div>
        <div>
          <h3>Supervisor Password to Cancel Order or Modify an Item:
            <span class="error-message">*</span>
          </h3>
         
          <form [formGroup]="supervisorForm">
            <span class="error-message" *ngIf="!supervisorForm.controls.supervisor_password.valid && supervisorForm.controls.supervisor_password.touched">Enter password</span>
          <input
            type="password"
            class="form-control col-12 col-sm-4"
            placeholder="Enter password"
            formControlName="supervisor_password"
          />
          <button class="mt-2 btn-setup-sucess" [disabled]="!supervisorForm.valid || supervisorForm.pristine" (click)="save()">Save</button>
       </form>
        </div>
      </div>
    </div>
  </body>
</html>
