     
     <section>
        <div class="mainContainer">
            <div class="row">
                <div class="menuViewWrapper">
                    <div class="menuViewWrapperPos">
                        
                        </div>    
                        <div class="floatMainDiv1 paddingSpaceMain" >
                            <div class="productWrapperMain" >
                              <img src="assets/images/ic_Seafood.png" class="crop_img" >
                        
                              <div class="productPos1">
                                <ul>
                                  <li>
                                    <h3>ggg<span>100
                                        </span>
                                  
                                    </h3>
                                  </li>
              
                                </ul>
                              </div>
                              <div class="productPos2">
                                <ul>
                                  <li>dc</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                </div>
            </div>
        </div>
        </section>
     
 
       
