table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
.mat-mdc-header-cell {
  font-weight: bold;
  font-size: medium;
  color: rgb(20, 20, 20);
}
.mat-mdc-cell {
  font-size: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.btn-wrp-equal button {
  width: 34px;
  margin-bottom: 10px;
  display: inline-block;
  height: 34px;
  border-radius: 50%;
}
.tableStyleMain {
  margin-top: 1px;

  th {
    padding: 10px;
    text-align: center;
  }

  td {
    padding: 10px;
    text-align: center;
  }
}
.show {
  visibility: hidden;
}
