<!DOCTYPE html>
<html lang="en">

<body id="page_setup">


  <!-- Body Wrapper Start -->
  <div class="body_wrapper container-fluid">
      <!-- Header Start -->
  <app-header></app-header>
  <!-- Header End -->
    <div class="px-4">
      <div class="row pt-4 px-2">
        <div class="bgSecMainAll">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item cursor-pointer" routerLink="/home/walkin">
                Home
              </li>
              <li class="breadcrumb-item cursor-pointer" aria-current="page" routerLink="/setup">
                Setup
              </li>
              <li class="breadcrumb-item cursor-pointer" aria-current="page"
              routerLink="/setup/inventorySetup">
                Inventory Setup
              </li>
              <li class="breadcrumb-item active" aria-current="page"
                routerLink="/setup/inventorySetup/finishedGoods">
                Finished Goods
              </li>
            </ol>
          </nav>
        </div>
        <div class="col-12">
          <div class="d-flex align-items-center head-tag ">
            <h4 class="flex-gr-1">
              <i class="icon-arrow-left mr-1 cursor-pointer"  (click)="back()"></i> Finished Goods
            </h4>
            <div class="d-flex">
                         <input type="text" placeholder="Search Finished Good." aria-label="MenuItem"
              [matAutocomplete]="auto" class="form-control bordered w-100"
             #itemSearchText (keyup)="doFilter(itemSearchText.value)" />
           <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
             <mat-option *ngFor="
                   let list_options of Options
                 " [value]="list_options.finished_good.items.name" [id]="list_options.finished_good.finished_good_id" (click)="finishedGoodSelected(list_options)">
               {{ list_options.finished_good.items.name }}
             </mat-option>
           </mat-autocomplete>
            </div>
            <div
              class="d-flex"
              style="padding-bottom: 15px; padding-left: 5px"
            >
            <button class="btn-setup-sucess" (click)="add()">
              <i class="icon-plus mr-1"></i>Add Finished Goods
            </button>

            </div>
          </div>
        </div>

      </div>

      <div *ngIf="dataSource.data.length <= 0; else showtable">
        <div class="row">
          <div class="col-12">
            <div class="not-found bordered">
              <h3>Sorry :(</h3>
              <p>No menu item Added. <br />
              Click
              <a routerLink="/setup/inventorySetup/finishedGoods/add" (click)="add()">here</a>
              to add menu item.
              </p>
            </div>
          </div>
        </div>
      </div>
      <ng-template #showtable>
        <div infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollUpDistance]="scrollUpDistance"
        [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown($event)">
      <table mat-table *ngIf="dataSource.data.length > 0" [dataSource]="dataSource" matSort
        class="mat-z8 tableStyleMain table bordered">
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef >
            #
          </th>
          <td mat-cell *matCellDef="let element">
            {{dataSource.data.indexOf(element) + 1}}
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.finished_good.items.name }}</td>
        </ng-container>
        <ng-container matColumnDef="unit_name">
          <th mat-header-cell *matHeaderCellDef>Unit Name</th>
          <td mat-cell *matCellDef="let element">
           {{ element.purchase_detail.measurement_unit_name }}</td>
        </ng-container>
        <ng-container matColumnDef="cost_per_unit">
          <th mat-header-cell *matHeaderCellDef>Cost Per Measurement Unit</th>
          <td mat-cell *matCellDef="let element">
            {{ element.cost_per_unit.toFixed(4) }} </td>
        </ng-container>
        <ng-container matColumnDef="supplier">
          <th mat-header-cell *matHeaderCellDef>Supplier</th>
          <td mat-cell *matCellDef="let element">
            {{ element.item_supplier?element.item_supplier[0].supplier_name:'-' }}</td>
        </ng-container>
        <ng-container matColumnDef="is_track_inventory">
          <th mat-header-cell *matHeaderCellDef>Track Consumption?</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.stock_opening_balance[0].is_track_inventory">
              <i class="icon-ok mr-1"></i>
            </span>
            <span *ngIf="!element.stock_opening_balance[0].is_track_inventory">
              <i class="icon-remove mr-1"></i>
            </span>
          </td>

        </ng-container>
        <ng-container matColumnDef="button">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td class="btn-wrp-equal align-items-right" mat-cell *matCellDef="let element">
            <button  class="btn-setup-sucess" routerLink="/setup/inventorySetup/finishedGoods/edit/{{element.finished_good.finished_good_id}}">
              <i _ngcontent-trm-c429="" class="zmdi zmdi-edit"></i>
          </button>

          <button class="btn-setup-danger" (click)="deleteIngredient(element.finished_good.finished_good_id, element.finished_good.items.name)">
            <i _ngcontent-trm-c429="" class="zmdi zmdi-delete"></i>
          </button>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
      </ng-template>
      <!-- <mat-paginator [pageSize]="50" [pageSizeOptions]="[2, 4, 6, 10, 50]">
      </mat-paginator> -->
    </div>
  </div>
</body>

</html>
