<div class="modal-wrapper">
    <h2 mat-dialog-title>Your Business Details {{currency_symbol}}
      <button mat-icon-button class="close-button" (click)="close()">
        <mat-icon  class="close-button" color="warn" >close</mat-icon>
      </button>
    </h2>
    <mat-dialog-content>
      <div class="row">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Line Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data.Orders.booking_order_json.items">
                <td>
                  <span>{{item.name}}</span>
                  <div *ngIf="item.modifiers" class="col-12 combo-tree">
                    <div class="tree">
                      <ul class="tree-holder" *ngFor="let modifier of item.modifiers;let i = index;">
                        <li *ngIf="modifiercheck(modifier.list)">
                          <span><i class="fa fa-folder-open"></i> {{modifier.name}}</span>
                          <ul *ngFor="let list of modifier.list">
                            <li *ngIf="list.status">
                              <span><i class="fa fa-minus-square"></i>{{list.modifier_list}}&nbsp; {{currency_symbol}}{{list.rate}}</span>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </td>
                <td>{{item.qty}}</td>
                <td>{{item.orginal_price}} {{currency_symbol}}</td>
                <td>{{item.total}} {{currency_symbol}}</td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex br-btm pb-2">
            <div class="flex-grow-1">Sub Total:</div>
            <div>{{data.Orders.booking_order_json.Cart?.subTotal}} {{currency_symbol}}</div>
          </div>
          <div class="d-flex br-btm pb-2" *ngIf="data.Orders.booking_order_json.Cart?.tax>0">
            <div class="flex-grow-1">Tax Amount:</div>
            <div>{{data.Orders.booking_order_json.Cart?.tax}} {{currency_symbol}}</div>
          </div>
          <div class="d-flex br-btm pb-2" *ngIf="data.Orders.booking_order_json.Cart?.discount>0">
            <div class="flex-grow-1">Discount:</div>
            <div>{{data.Orders.booking_order_json.Cart?.discount}} {{currency_symbol}}</div>
          </div>
          <div class="d-flex br-btm pb-2" *ngIf="data.Orders.booking_order_json.Cart?.otherCharge>0">
            <div class="flex-grow-1">Surcharges:</div>
            <div>{{data.Orders.booking_order_json.Cart?.otherCharge}} {{currency_symbol}}</div>
          </div>
          <div class="d-flex br-btm pt-2 pb-2">
            <div class="flex-grow-1">Total:</div>
            <div><strong>{{data.Orders.booking_order_json.Cart.amount}} {{data.Orders.booking_order_json.amount !="Not Paid" ? currency_symbol : ''}}</strong></div>
          </div>
          <div class="d-flex br-btm pt-2 pb-2" *ngIf="data.Orders.payment_order_json?.amount_received">
            <div class="flex-grow-1">Advance Paid:</div>
            <div><strong>{{data.Orders.payment_order_json.amount_received}} {{currency_symbol}}</strong></div>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <div class="text-right">
        <button class="btn-setup-danger w-px-100" (click)="close()">
          Cancel
        </button>
        <!-- <button class="btn-setup-sucess" (click)="showHistoryTag()">
          <i class="icon-time mr-1"></i>Status History
        </button> -->
      </div>
    </mat-dialog-actions>
  </div>