// .tableStyleMain {
//   margin-top: 7px;

//   th {
//     padding: 10px;
//     border-right: 1px #e2e3e3 solid;
//     text-align: center;
//   }

//   td {
//     padding: 10px;
//     border-right: 1px #eceeee  solid;
//     text-align: center;
//     background-color: #ffff
//     ;
//   }

// }
  

.tableStyleMain{ margin-top: 7px ;

  th{
    padding-bottom: 20px; 
    //border-right: 1px #e2e3e3 solid;
     text-align: center;
  }

  td{
    //padding: 10px;
    // border-right: 1px #eceeee  solid;
      text-align: center;
  }
 
}

.table{
  border-collapse: unset !important;

}
.btn-wrp-equal button {
  width: 34px;
  margin-bottom: 10px;
  display: inline-block;
  height: 34px;
  border-radius: 50%;
}
.show {
  visibility: hidden;
}

// .tableStyleMain {
//   margin-top: 7px;

//   th, td {
//     padding: .75rem;
//     vertical-align: top;
//     border: 1px #e2e3e3 solid;
//     text-align: center;
//     //background-color: #fff;
//   }
// }

// .table-shadow {
// //  box-shadow: rgb(251, 175, 3) 0px 0px 0px 1px;
// }