<!doctype html>
<html lang="en">

<body id="page_terms_conditions">
 

    <!-- Body Wrapper Start -->
    <div class="body_wrapper">
           <!-- Header Start -->
    <app-header></app-header>
    <!-- Header End -->
        <div class="row mx-0">
            <div class="col-12 col-sm-12 col-md-6 col-lg-5 px-0">
                <div class="page_title">
                    <div class="row align-items-center mx-0">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0">
                            <div class="d-flex">
                                <h1>Terms & Conditions</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="banner col-10 col-md-10 col-lg-10 col-xl-7 mx-auto animate__animated animate__zoomIn wow"
                    data-wow-duration=".5s">
                    <img src="assets/images/tnc.png" class="img-fluid">
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-7 px-0">
                <div class="card p-4 px-3 border-0 rounded-0">
                    <div class="col-12 col-sm-12 col-md-11 mx-auto px-0">
                        <h2 class="animate__animated animate__fadeInUp">Terms of use</h2>
                        <p class="animate__animated animate__fadeInUp">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        </p>

                        <p class="animate__animated animate__fadeInUp">
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.
                        </p>

                        <h2 class="animate__animated animate__fadeInUp">Company Policy</h2>

                        <p class="animate__animated animate__fadeInUp">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        </p>

                        <p class="animate__animated animate__fadeInUp">
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.
                        </p>
                        <p class="animate__animated animate__fadeInUp">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        </p>

                        <p class="animate__animated animate__fadeInUp">
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.
                        </p>
                        <p class="animate__animated animate__fadeInUp">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        </p>

                        <p class="animate__animated animate__fadeInUp">
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>


<!-- Mirrored from hungerz.opuslab.works/terms_conditions.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 19 Jul 2021 13:59:28 GMT -->

</html>