<div class="modal-wrapper">
  <button mat-icon-button class="close-button" (click)="close()">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button>
  <h2 mat-dialog-title>Order Cancellation Reason</h2>

  <mat-dialog-content>
    <form [formGroup]="cancelForm">
       <label>Remarks</label>
        <textarea class="form-control"  formControlName="remarks" ></textarea>
    </form>

  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="text-right button-sec">
      <button class="btn-setup-danger mr-2" (click)="close()">Cancel</button>
      <button class="btn-setup-sucess" 
        (click)="cancelOrder()">Yes,Confirm</button>
    </div>
  </mat-dialog-actions>
</div>
