<!doctype html>
<html lang="en">

<body id="page_items">
  
    <!-- Body Wrapper Start -->
    <div class="body_wrapper">
        <app-header></app-header>
        <div class="page_title">
            <div class="row align-items-center mx-0">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 p-0">
                    <div class="title_inner d-flex">
                        <h1 class="d-flex align-items-center">Customer
                            <!--                            <span class="ml-4">$987.50</span>-->
                        </h1>
                        <button type="button" class="btn"><a data-toggle="modal" data-target="#add_people">Add
                                New</a></button>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 p-0 d-flex">
                    <form
                        class="search_box col-12 col-sm-12 col-md-12 col-lg-8 col-xl-7 p-0 px-lg-3 mt-3 mt-lg-0 pb-3 pb-md-0 ml-auto">
                        <div class="form-group d-flex">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="zmdi zmdi-search"></i></div>
                            </div>
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Right Sidebar Start -->
        <div class="right_sidebar">
            <!-- Tab Content Start -->
            <div class="tab-content" id="nav-tabContent">

                <!-- Food Items Tab customers Start -->
                <div>
                    <!-- Order List Start -->
                    <div class="order_list">
                        <div class="list_header d-flex">
                            <h2 class="text-left Name">Name</h2>
                            <h2 class="text-left phone">Phone Number</h2>
                            <h2 class="text-left email">Email Address</h2>
                            <h2 class="text-left created">Created</h2>
                            <h2 class="text-right Action people">Action</h2>
                        </div>

                        <ul>
                            <li class="d-flex  animate__animated animate__fadeInUp wow">
                                <!--                                <h3 class="text-center order_num Code people">1</h3>-->
                                <h3 class="text-left Name"><strong>Jimmy Taylor</strong></h3>
                                <h3 class="text-left phone">+1 987 675 5432</h3>
                                <h3 class="text-left email">jimmytaylor1234@email.com</h3>
                                <h3 class="text-left text-muted created">12 June 2020 12:30 pm</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>
                            <li class="d-flex  animate__animated animate__fadeInUp wow">
                                <h3 class="text-left Name"><strong>Peter Johnson</strong></h3>
                                <h3 class="text-left phone">+1 876 546 5432</h3>
                                <h3 class="text-left email">impeterjohn@email.com</h3>
                                <h3 class="text-left text-muted created">12 June 2020 12:30 pm</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>
                            <li class="d-flex  animate__animated animate__fadeInUp wow">
                                <h3 class="text-left Name"><strong>Pamela Williamson</strong></h3>
                                <h3 class="text-left phone">+1 876 546 5432</h3>
                                <h3 class="text-left email">pamelawilliamson@email.com</h3>
                                <h3 class="text-left text-muted created">12 June 2020 12:30 pm</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>

                            <li class="d-flex  animate__animated animate__fadeInUp wow">
                                <h3 class="text-left Name"><strong>Cassantha Haydon</strong></h3>
                                <h3 class="text-left phone">+1 876 546 5432</h3>
                                <h3 class="text-left email">cassanthahaydon@email.com</h3>
                                <h3 class="text-left text-muted created">12 June 2020 12:30 pm</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>

                            <li class="d-flex  animate__animated animate__fadeInUp wow">
                                <h3 class="text-left Name"><strong>Samantha Smith</strong></h3>
                                <h3 class="text-left phone">+1 876 546 5432</h3>
                                <h3 class="text-left email">samanthasmith@email.com</h3>
                                <h3 class="text-left text-muted created">12 June 2020 12:30 pm</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>

                            <li class="d-flex  animate__animated animate__fadeInUp wow">
                                <h3 class="text-left Name"><strong>Garry Hopeson</strong></h3>
                                <h3 class="text-left phone">+1 876 546 5432</h3>
                                <h3 class="text-left email">garryhopeson@email.com</h3>
                                <h3 class="text-left text-muted created">12 June 2020 12:30 pm</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>

                            <li class="d-flex  animate__animated animate__fadeInUp wow">
                                <h3 class="text-left Name"><strong>Kelly Williamson</strong></h3>
                                <h3 class="text-left phone">+1 876 546 5432</h3>
                                <h3 class="text-left email">kellywilliamson@email.com</h3>
                                <h3 class="text-left text-muted created">12 June 2020 12:30 pm</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <!-- Order List End -->

                    <!-- Tab Footer start -->
                    <div class="tab_footer">
                        <div class="row no-gutter align-items-center">
                            <div class="col-12 col-md-12 col-lg-4 pb-3">
                                <h2>Showing 1 to 10 of 126 item</h2>
                            </div>
                            <div class="col-12 col-md-12 col-lg-8 pb-3">
                                <div class="row align-items-center">
                                    <nav class="navigation col-12" aria-label="Page navigation example">
                                        <ul class="pagination justify-content-end mb-0">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i
                                                        class="zmdi zmdi-chevron-left"></i></a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#"><i
                                                        class="zmdi zmdi-chevron-right"></i></a>
                                            </li>
                                        </ul>
                                    </nav>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Tab Footer End -->
                </div>
            </div>
            <!-- Tab Content End -->
        </div>
        <!-- Right Sidebar End -->
    </div>
    <!-- Body Wrapper End -->


    <!-- Add people  Modal Start  -->
    <div class="modal fade add_category_model add_expenses receipt_model px-0" id="add_people" tabindex="-1"
        role="dialog" aria-labelledby="receipt_modelTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header px-0">
                    <h2 class="col-11 mx-auto">Add Customer</h2>
                </div>
                <div class="modal-body p-0">
                    <form class="pt-2 pt-sm-2 pt-md-4 ">
                        <div class="col-11 mx-auto form_container">
                            <div class="form-group animate__animated animate__fadeInUp wow" data-wow-duration=".5s">
                                <label>Full Name</label>
                                <input type="text" class="form-control" value="Jimmy Taylor">
                            </div>
                            <div class="form-group animate__animated animate__fadeInUp wow" data-wow-duration="1s">
                                <label>Phone Number</label>
                                <input type="text" class="form-control" value="+1 987 645 5432">
                            </div>
                            <div class="form-group animate__animated animate__fadeInUp wow" data-wow-duration="1.5s">
                                <label>Email Address</label>
                                <input type="email" class="form-control" value="jimmytaylor1234@email.com">
                            </div>

                            <!--
                            <div class="form-group">
                                <label>People type</label>
                                <div class="select_box w-100 d-flex">
                                    <select>
                                        <option>Customers</option>
                                        <option>Waiters</option>
                                        <option>Admins</option>
                                    </select>
                                    <i class="zmdi zmdi-caret-down"></i>
                                </div>
                            </div>
-->
                        </div>

                        <div class="modal-footer animate__animated animate__fadeInUp wow" data-wow-duration="1s">
                            <div class="row no-gutters w-100">
                                <div class="col-6"> <button type="file" class="btn Cencel" data-dismiss="modal"><a
                                            href="#">Cencel</a></button></div>
                                <div class="col-6"> <button type="file" class="btn"><a href="#">Add People</a></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <!-- Add people Modal End  -->
</body>


<!-- Mirrored from hungerz.opuslab.works/people.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 19 Jul 2021 13:59:26 GMT -->

</html>