<body>
  <section class="wrapper">
    <div class="content">
      <div>
        <img class="crop_img" style="padding-bottom:5rem;" src="assets/images/expired1.png" />
      </div>
      <h1 style="font-weight:bold;">Your subscription has expired</h1>
      <p>
        {{message}}
      </p>
      <p style="text-align: center;">
        <button style="width: 140px;height:45px;" routerLink="/home/walkin" class="btn-orange"
        ><i class="icon-refresh mr-1"></i>Refresh</button></p>

    </div>
  </section>
</body>
