.remove {
  color: rgb(241, 26, 26);
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 0;
  right: 10px;
}

.amount {
  text-align: center;
  font-size: 70px;
  font-weight: revert;
}

.payment-card {

  cursor: pointer;
  background-color: rgb(113, 216, 113);
  color: white;
  text-align: center;
  margin-bottom: 10px;
  width: 9.3rem;
  padding-top: 15px;
  h4 {
    font-size: 14px !important;
  }
}

.payment-card-active {
  cursor: pointer;
  background-color: var(--primary);
  color: white;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 15px;
  h4 {
    font-size: 14px !important;
  }
}

.credit-card {
  cursor: pointer;
  background-color: #ee7b7b;
  color: white;
  text-align: center;
  margin-bottom: 10px;
  width: 9.3rem;
  padding-top: 15px;
  h4 {
    font-size: 14px !important;
  }
}

.disabled {
  pointer-events: none;
  background-color: rgb(149, 228, 149);
  color: white;
  width: 9.3rem;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 15px;
  h4 {
    font-size: 14px !important;
  }
}

.commonBtnStyle {
  height: 3rem;
  width: 7.5rem;
  padding: 0;
}
.commonBtnStyle2{
  height: 2.5rem;
  width: 8.5rem;
  padding: 0;
}
.my-checkfield {
  border: solid 1px black;
  color: black;
  border-radius: 5px;
  position: relative;
}

.my-checkfield-selected {
  border: solid 1px green;
}

.my-checkfield-selected::before,
.my-checkfield-selected::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-color: transparent;
  border-style: solid;
}

.my-checkfield-selected::after {
  content: "\2713";
  position: absolute;
  top: 0 !important;
  left: -65px !important;
  font-size: 13px;
  line-height: 13px;
  font-weight: bold;
  color: white;
}

.my-checkfield-selected::before {
  border-radius: 0;
  border-width: 12px;
  border-left-color: green;
  border-top-color: green;
}