<!doctype html>
<html lang="en">


<body id="page_wallet">
    <!-- Header Start -->
    <app-header></app-header>
    <!-- Header End -->

    <!-- Body Wrapper Start -->
    <div class="body_wrapper">
        <div class="page_title">
            <div class="row align-items-center mx-0">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 p-0">
                    <div class="title_inner d-flex">
                        <h1 class="d-flex align-items-center">Wallet Balance
                            <span class="ml-4">$987.50</span>
                        </h1>
                        <button type="button" class="btn"><a data-toggle="modal" data-target="#add_people">Send To
                                Bank</a></button>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 p-0 d-flex">
                    <form
                        class="search_box col-12 col-sm-12 col-md-12 col-lg-8 col-xl-7 p-0 px-lg-3 mt-3 mt-lg-0 pb-3 pb-md-0 ml-auto">
                        <div class="form-group d-flex">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="zmdi zmdi-search"></i></div>
                            </div>
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Right Sidebar Start -->
        <div class="right_sidebar">
            <!-- Tab Content Start -->
            <div class="tab-content" id="nav-tabContent">

                <!-- Sales Tab Content Start -->
                <div>
                    <!-- Order List Start -->
                    <div class="order_list">
                        <div class="list_header d-flex">
                            <h2 class="text-center order_num">Order num</h2>
                            <h2 class="text-left Name">Name</h2>
                            <h2 class="text-center Amount">Amount</h2>
                            <h2 class="text-center Items">Items</h2>
                            <h2 class="text-center Table">Type</h2>
                            <h2 class="text-center Date">Updated On</h2>
                            <h2 class="text-right Action">Action</h2>
                        </div>

                        <ul>
                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <h3 class="text-center order_num">AB00123</h3>
                                <h3 class="text-left Name"><strong>Jimmy Taylor</strong></h3>
                                <h3 class="text-center Amount">$120.00</h3>
                                <h3 class="text-center Items">2</h3>
                                <h3 class="text-center Table">Online</h3>
                                <h3 class="text-center Date">12 June 2020 12:30 pm</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <!--
                                    <button type="button" class="btn">
                                        <a data-toggle="modal" data-target="#receipt_model"><i class="zmdi zmdi-eye"></i></a>
                                    </button>
-->
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>
                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <h3 class="text-center order_num">AB00124</h3>
                                <h3 class="text-left Name"><strong>Peter Johnson</strong></h3>
                                <h3 class="text-center Amount">$540.00</h3>
                                <h3 class="text-center Items">5</h3>
                                <h3 class="text-center Table">Delivery</h3>
                                <h3 class="text-center Date">10 June 2020 12:30 pm</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <!--
                                    <button type="button" class="btn">
                                        <a data-toggle="modal" data-target="#receipt_model"><i class="zmdi zmdi-eye"></i></a>
                                    </button>
-->
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>
                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <h3 class="text-center order_num">AB00125</h3>
                                <h3 class="text-left Name"><strong>Pamela Williamson</strong></h3>
                                <h3 class="text-center Amount">$514.00</h3>
                                <h3 class="text-center Items">6</h3>
                                <h3 class="text-center Table">Online</h3>
                                <h3 class="text-center Date">9 June 2020 12:30 am</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <!--
                                    <button type="button" class="btn">
                                        <a data-toggle="modal" data-target="#receipt_model"><i class="zmdi zmdi-eye"></i></a>
                                    </button>
-->
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>

                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <h3 class="text-center order_num">AB00126</h3>
                                <h3 class="text-left Name"><strong>Cassandra Haydon</strong></h3>
                                <h3 class="text-center Amount">$189.00</h3>
                                <h3 class="text-center Items">2</h3>
                                <h3 class="text-center Table">Deliery</h3>
                                <h3 class="text-center Date">9 June 2020 1:33 pm</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <!--
                                    <button type="button" class="btn">
                                        <a data-toggle="modal" data-target="#receipt_model"><i class="zmdi zmdi-eye"></i></a>
                                    </button>
-->
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>

                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <h3 class="text-center order_num">AB00127</h3>
                                <h3 class="text-left Name"><strong>Samanatha Smith</strong></h3>
                                <h3 class="text-center Amount">$324.00</h3>
                                <h3 class="text-center Items">4</h3>
                                <h3 class="text-center Table">Take away</h3>
                                <h3 class="text-center Date">7 June 2020 12:30 am</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <!--
                                    <button type="button" class="btn">
                                        <a data-toggle="modal" data-target="#receipt_model"><i class="zmdi zmdi-eye"></i></a>
                                    </button>
-->
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>


                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <h3 class="text-center order_num">AB00128</h3>
                                <h3 class="text-left Name"><strong>Garry Hopeson</strong></h3>
                                <h3 class="text-center Amount">$187.00</h3>
                                <h3 class="text-center Items">3</h3>
                                <h3 class="text-center Table">Online</h3>
                                <h3 class="text-center Date">5 June 2020 11:30 am</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <!--
                                    <button type="button" class="btn">
                                        <a data-toggle="modal" data-target="#receipt_model"><i class="zmdi zmdi-eye"></i></a>
                                    </button>
-->
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>

                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <h3 class="text-center order_num">AB00129</h3>
                                <h3 class="text-left Name"><strong>Kelly Williamson</strong></h3>
                                <h3 class="text-center Amount">$126.00</h3>
                                <h3 class="text-center Items">1</h3>
                                <h3 class="text-center Table">Delivery</h3>
                                <h3 class="text-center Date">1 June 2020 12:30 pm</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <!--
                                    <button type="button" class="btn">
                                        <a data-toggle="modal" data-target="#receipt_model"><i class="zmdi zmdi-eye"></i></a>
                                    </button>
-->
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>
                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <h3 class="text-center order_num">AB00123</h3>
                                <h3 class="text-left Name"><strong>Jimmy Taylor</strong></h3>
                                <h3 class="text-center Amount">$120.00</h3>
                                <h3 class="text-center Items">2</h3>
                                <h3 class="text-center Table">Online</h3>
                                <h3 class="text-center Date">28 May 2020 1:00 pm</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <!--
                                    <button type="button" class="btn">
                                        <a data-toggle="modal" data-target="#receipt_model"><i class="zmdi zmdi-eye"></i></a>
                                    </button>
-->
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>
                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <h3 class="text-center order_num">AB00124</h3>
                                <h3 class="text-left Name"><strong>Peter Johnson</strong></h3>
                                <h3 class="text-center Amount">$540.00</h3>
                                <h3 class="text-center Items">5</h3>
                                <h3 class="text-center Table">Delivery</h3>
                                <h3 class="text-center Date">25 May 2020 12:30 pm</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <!--
                                    <button type="button" class="btn">
                                        <a data-toggle="modal" data-target="#receipt_model"><i class="zmdi zmdi-eye"></i></a>
                                    </button>
-->
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>
                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <h3 class="text-center order_num">AB00125</h3>
                                <h3 class="text-left Name"><strong>Pamela Williamson</strong></h3>
                                <h3 class="text-center Amount">$514.00</h3>
                                <h3 class="text-center Items">6</h3>
                                <h3 class="text-center Table">Delivery</h3>
                                <h3 class="text-center Date">15 June 2020 12:30 am</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <!--
                                    <button type="button" class="btn">
                                        <a data-toggle="modal" data-target="#receipt_model"><i class="zmdi zmdi-eye"></i></a>
                                    </button>
-->
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- Order List End -->

                    <!-- Tab Footer start -->
                    <div class="tab_footer">
                        <div class="row no-gutter align-items-center">
                            <div class="col-12 col-md-12 col-lg-4 pb-3">
                                <h2>Showing 1 to 10 of 126 item</h2>
                            </div>
                            <div class="col-12 col-md-12 col-lg-8 pb-3">
                                <div class="row align-items-center">
                                    <nav class="navigation col-12" aria-label="Page navigation example">
                                        <ul class="pagination justify-content-end mb-0">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i
                                                        class="zmdi zmdi-chevron-left"></i></a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#"><i
                                                        class="zmdi zmdi-chevron-right"></i></a>
                                            </li>
                                        </ul>
                                    </nav>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Tab Footer End -->
                </div>
                <!-- Sales Tab Content End -->
                <!-- Tab Content End -->
            </div>
        </div>
        <!-- Right Sidebar End -->
    </div>
    <!-- Body Wrapper End -->
</body>


<!-- Mirrored from hungerz.opuslab.works/wallet.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 19 Jul 2021 13:59:26 GMT -->

</html>