<!doctype html>
<html lang="en">

<body id="transactions">
  

    <!-- Body Wrapper Start -->
    <div class="body_wrapper">
        <app-header></app-header>
        <div class="page_title">
            <div class="row align-items-center mx-0">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 p-0">
                    <div class="title_inner d-flex">
                        <h1 class="d-flex align-items-center">Transaction
                            <!--
                            <span class="ml-4">
                                4.2 <i class="zmdi zmdi-star"></i>
                            </span>
-->
                        </h1>
                        <!--                        <button type="button" class="btn"><a data-toggle="modal" data-target="#add_expenses">Book New</a></button>-->
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 p-0 d-flex">
                    <form
                        class="search_box col-12 col-sm-12 col-md-12 col-lg-8 col-xl-7 p-0 px-lg-3 mt-3 mt-lg-0 pb-3 pb-md-0 ml-auto">
                        <div class="form-group d-flex">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="zmdi zmdi-search"></i></div>
                            </div>
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Right Sidebar Start -->
        <div class="right_sidebar">
            <!-- Tab Content Start -->
            <div class="tab-content" id="nav-tabContent">

                <!-- Sales Tab Content Start -->
                <div>
                    <!-- Order List Start -->
                    <div class="order_list">
                        <div class="list_header d-flex">
                            <h2 class="text-center order_num">Order num</h2>
                            <h2 class="text-left Name">Name</h2>
                            <h2 class="text-center Amount">Amount</h2>
                            <h2 class="text-center Items">Items</h2>
                            <h2 class="text-center Table">Type</h2>
                            <h2 class="text-center Payment">Payment</h2>
                            <h2 class="text-center Date">Updated On</h2>
                            <h2 class="text-right Action">Action</h2>
                        </div>

                        <ul>
                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <h3 class="text-center order_num">AB00123</h3>
                                <h3 class="text-left Name"><strong>Jimmy Taylor</strong></h3>
                                <h3 class="text-center Amount">$120.00</h3>
                                <h3 class="text-center Items">2</h3>
                                <h3 class="text-center Table">Dine-in</h3>
                                <h3 class="text-center Payment">Cash</h3>
                                <h3 class="text-center Date">12 June 2020 12:30 pm</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <button type="button" class="btn">
                                        <a data-toggle="modal" data-target="#receipt_model"><i
                                                class="zmdi zmdi-eye"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>
                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <h3 class="text-center order_num">AB00124</h3>
                                <h3 class="text-left Name"><strong>Peter Johnson</strong></h3>
                                <h3 class="text-center Amount">$540.00</h3>
                                <h3 class="text-center Items">5</h3>
                                <h3 class="text-center Table">Delivery</h3>
                                <h3 class="text-center Payment">Cash</h3>
                                <h3 class="text-center Date">10 June 2020 12:30 pm</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <button type="button" class="btn">
                                        <a data-toggle="modal" data-target="#receipt_model"><i
                                                class="zmdi zmdi-eye"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>
                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <h3 class="text-center order_num">AB00125</h3>
                                <h3 class="text-left Name"><strong>Pamela Williamson</strong></h3>
                                <h3 class="text-center Amount">$514.00</h3>
                                <h3 class="text-center Items">6</h3>
                                <h3 class="text-center Table">Online</h3>
                                <h3 class="text-center Payment">Online</h3>
                                <h3 class="text-center Date">9 June 2020 12:30 am</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <button type="button" class="btn">
                                        <a data-toggle="modal" data-target="#receipt_model"><i
                                                class="zmdi zmdi-eye"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>

                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <h3 class="text-center order_num">AB00126</h3>
                                <h3 class="text-left Name"><strong>Cassandra Haydon</strong></h3>
                                <h3 class="text-center Amount">$189.00</h3>
                                <h3 class="text-center Items">2</h3>
                                <h3 class="text-center Table">Dine-in</h3>
                                <h3 class="text-center Payment">Credit Card</h3>
                                <h3 class="text-center Date">9 June 2020 1:33 pm</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <button type="button" class="btn">
                                        <a data-toggle="modal" data-target="#receipt_model"><i
                                                class="zmdi zmdi-eye"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>

                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <h3 class="text-center order_num">AB00127</h3>
                                <h3 class="text-left Name"><strong>Samanatha Smith</strong></h3>
                                <h3 class="text-center Amount">$324.00</h3>
                                <h3 class="text-center Items">4</h3>
                                <h3 class="text-center Table">Dine-in</h3>
                                <h3 class="text-center Payment">Cash</h3>
                                <h3 class="text-center Date">7 June 2020 12:30 am</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <button type="button" class="btn">
                                        <a data-toggle="modal" data-target="#receipt_model"><i
                                                class="zmdi zmdi-eye"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>


                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <h3 class="text-center order_num">AB00128</h3>
                                <h3 class="text-left Name"><strong>Garry Hopeson</strong></h3>
                                <h3 class="text-center Amount">$187.00</h3>
                                <h3 class="text-center Items">3</h3>
                                <h3 class="text-center Table">Dine-in</h3>
                                <h3 class="text-center Payment">Cash</h3>
                                <h3 class="text-center Date">5 June 2020 11:30 am</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <button type="button" class="btn">
                                        <a data-toggle="modal" data-target="#receipt_model"><i
                                                class="zmdi zmdi-eye"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>

                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <h3 class="text-center order_num">AB00129</h3>
                                <h3 class="text-left Name"><strong>Kelly Williamson</strong></h3>
                                <h3 class="text-center Amount">$126.00</h3>
                                <h3 class="text-center Items">1</h3>
                                <h3 class="text-center Table">Delivery</h3>
                                <h3 class="text-center Payment">Crdit Card</h3>
                                <h3 class="text-center Date">1 June 2020 12:30 pm</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <button type="button" class="btn">
                                        <a data-toggle="modal" data-target="#receipt_model"><i
                                                class="zmdi zmdi-eye"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>
                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <h3 class="text-center order_num">AB00123</h3>
                                <h3 class="text-left Name"><strong>Jimmy Taylor</strong></h3>
                                <h3 class="text-center Amount">$120.00</h3>
                                <h3 class="text-center Items">2</h3>
                                <h3 class="text-center Table">Take away</h3>
                                <h3 class="text-center Payment">Cash</h3>
                                <h3 class="text-center Date">28 May 2020 1:00 pm</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <button type="button" class="btn">
                                        <a data-toggle="modal" data-target="#receipt_model"><i
                                                class="zmdi zmdi-eye"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>
                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <h3 class="text-center order_num">AB00124</h3>
                                <h3 class="text-left Name"><strong>Peter Johnson</strong></h3>
                                <h3 class="text-center Amount">$540.00</h3>
                                <h3 class="text-center Items">5</h3>
                                <h3 class="text-center Table">Dine-in</h3>
                                <h3 class="text-center Payment">Cash</h3>
                                <h3 class="text-center Date">25 May 2020 12:30 pm</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <button type="button" class="btn">
                                        <a data-toggle="modal" data-target="#receipt_model"><i
                                                class="zmdi zmdi-eye"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>
                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <h3 class="text-center order_num">AB00125</h3>
                                <h3 class="text-left Name"><strong>Pamela Williamson</strong></h3>
                                <h3 class="text-center Amount">$514.00</h3>
                                <h3 class="text-center Items">6</h3>
                                <h3 class="text-center Table">Dine-in</h3>
                                <h3 class="text-center Payment">Credit Card</h3>
                                <h3 class="text-center Date">15 June 2020 12:30 am</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <button type="button" class="btn">
                                        <a data-toggle="modal" data-target="#receipt_model"><i
                                                class="zmdi zmdi-eye"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- Order List End -->

                    <!-- Tab Footer start -->
                    <div class="tab_footer">
                        <div class="row no-gutter align-items-center">
                            <div class="col-12 col-md-12 col-lg-4 pb-3">
                                <h2>Showing 1 to 10 of 126 item</h2>
                            </div>
                            <div class="col-12 col-md-12 col-lg-8 pb-3">
                                <div class="row align-items-center">
                                    <nav class="navigation col-12" aria-label="Page navigation example">
                                        <ul class="pagination justify-content-end mb-0">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i
                                                        class="zmdi zmdi-chevron-left"></i></a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#"><i
                                                        class="zmdi zmdi-chevron-right"></i></a>
                                            </li>
                                        </ul>
                                    </nav>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Tab Footer End -->
                </div>
                <!-- Sales Tab Content End -->
                <!-- Tab Content End -->
            </div>
        </div>
        <!-- Right Sidebar End -->
    </div>
    <!-- Body Wrapper End -->


    <!-- Receipt Modal Start  -->
    <div class="modal fade receipt_model px-0" id="receipt_model" tabindex="-1" role="dialog"
        aria-labelledby="receipt_modelTitle" aria-hidden="true">
        <div id="content" class="modal-dialog modal-dialog-right" role="document">
            <div class="modal-content">
                <div class="row mx-0">
                    <!-- Order Info Start  -->
                    <div class="col-12 col-12 col-md-6 px-0">
                        <div class="modal-header" id="chat_option">
                            <div class="customer_details w-100">
                                <h2 class="w-100 d-flex align-items-center pb-2">Jimmy Taylor
                                    <a class="ml-auto d-block">
                                        <i class="zmdi zmdi-comment-alt-text"></i>
                                        <i class="zmdi zmdi-close"></i>
                                    </a>
                                </h2>
                                <h3>AB00123 | 15 Jun, 11:35 am</h3>
                            </div>
                        </div>

                        <div class="modal-body p-0">
                            <ul>
                                <li class="d-flex list-header">
                                    <h4>Q.</h4>
                                    <h3>Items</h3>
                                    <h5 class="mr-0 ml-auto">Price</h5>
                                </li>

                                <li class="d-flex">
                                    <h4>1</h4>
                                    <h3>Onion Sandwich</h3>
                                    <h5 class="mr-0 ml-auto">$12.00</h5>
                                </li>
                                <li class="d-flex">
                                    <h4>1</h4>
                                    <h3>Cheese garlic Pizza
                                        <span>With Extra Cheese</span>
                                    </h3>
                                    <h5 class="mr-0 ml-auto">$18.00
                                        <span class="text-right">$3.00</span>
                                    </h5>
                                </li>
                                <li class="d-flex">
                                    <h4>1</h4>
                                    <h3>Ham Burger</h3>
                                    <h5 class="mr-0 ml-auto">$10.00</h5>
                                </li>
                                <li class="d-flex">
                                    <h4>1</h4>
                                    <h3>Vanilla Ice Cream</h3>
                                    <h5 class="mr-0 ml-auto">$8.00</h5>
                                </li>
                            </ul>

                            <div class="amount_details">
                                <h3 class="d-flex">Sub Total <span class="ml-auto mr-0">$51.00</span></h3>
                                <h3 class="d-flex">Service fee <span class="ml-auto mr-0">$3.00</span></h3>
                            </div>
                            <div class="total_paid">
                                <h3 class="d-flex align-items-center">Total Paid in <strong>Cash</strong> <span
                                        class="ml-auto mr-0">$54.00</span></h3>
                            </div>

                            <div id="tracking" class="delivery_partner d-flex">
                                <div class="img_box center_img">
                                    <img src="assets/images/img_profile.png" class="crop_img">
                                </div>
                                <div class="text_box w-100">
                                    <h2>George Anderson</h2>
                                    <h3 class="d-flex w-100 align-items-center">
                                        Delivery partner assigned
                                        <!--
                                        <a class="ml-auto d-block" href="#">
                                            <i class="zmdi zmdi-close"></i>
                                        </a>
-->
                                        <a class="ml-auto d-block">
                                            <i class="zmdi zmdi-navigation"></i>
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Order Info End  -->

                    <!--  Caht With Delivery Partner Start  -->
                    <div id="caht-with-delivery-partner" class="col-12 col-12 col-md-6  px-0">
                        <div class="chat_option">
                            <div class="delivery_partner d-flex align-items-center" id="chat-widget-body">
                                <div class="img_box center_img">
                                    <img src="assets/images/img_profile.png" class="crop_img">
                                </div>
                                <div class="text_box w-100">
                                    <h2 class="w-100 d-flex align-items-center pb-2">George Anderson
                                        <a class="ml-auto d-block" href="#">
                                            <i class="zmdi zmdi-comment-alt-text"></i>
                                            <i class="zmdi zmdi-close"></i>
                                        </a>
                                    </h2>
                                </div>
                            </div>

                            <div class="map center_img">
                                <img src="assets/images/map.png" class="crop_img">
                                <div class="delivery_location" style="top: 10%; left: 20%;">
                                    <i class="zmdi zmdi-bike"></i>
                                </div>
                                <i class="zmdi zmdi-pin text-center animate__animated animate__zoomIn"
                                    style="top: 20%; right: 79%;"></i>
                                <i class="zmdi zmdi-navigation text-center animate__animated animate__zoomIn"
                                    style="top: 40%; right: 35%;"></i>
                            </div>

                            <div class="chat-widget-body">
                                <div class="chat_container">
                                    <div class="row  mx-0">
                                        <div
                                            class="chat_box animate__animated animate__animated animate__zoomIn d-flex send">
                                            <div class="chat">
                                                <h2>Hey there? <br> How much time?</h2>
                                                <p>11:58 am</p>
                                            </div>
                                        </div>

                                        <div
                                            class="chat_box animate__animated animate__animated animate__zoomIn d-flex  received">
                                            <div class="chat">
                                                <h2>On my way ma'm <br>Will reach in 10 mins.</h2>
                                                <p>11:59 am</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <form>
                                    <div
                                        class="form-group d-flex align-items-center mb-0 animate__animated animate__fadeInUp wow">
                                        <input type="text" class="form-control"
                                            placeholder="Send message to delivery Partner">
                                        <a class="send_btn end" href="#">
                                            <i class="zmdi zmdi-mail-send"></i>
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                    <!-- Chat With Delivery Partner End  -->


                    <!--  Caht With Customer Partner Start  -->
                    <div id="caht-with-customer" class="col-12 col-12 col-md-6 px-0">
                        <div class="chat_option caht-with-customer">
                            <div class="delivery_partner d-flex align-items-center">
                                <div class="text_box w-100">
                                    <h2 class="w-100">
                                        Message to <strong>Jimmy Taylor</strong>

                                        <!--
                                        <a class="ml-auto d-block" href="#">
                                            <i class="zmdi zmdi-comment-alt-text"></i>
                                        </a>
-->
                                    </h2>
                                </div>
                            </div>

                            <div class="chat-widget-body">
                                <div class="chat_container">
                                    <div class="row  mx-0">
                                        <div
                                            class="chat_box animate__animated animate__animated animate__zoomIn d-flex send">
                                            <div class="chat">
                                                <h2>Hey there? <br> How much time?</h2>
                                                <p>11:58 am</p>
                                            </div>
                                        </div>

                                        <div
                                            class="chat_box animate__animated animate__animated animate__zoomIn d-flex  received">
                                            <div class="chat">
                                                <h2>On my way ma'm <br>Will reach in 10 mins.</h2>
                                                <p>11:59 am</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <form>
                                    <div
                                        class="form-group d-flex align-items-center mb-0 animate__animated animate__fadeInUp wow">
                                        <input type="text" class="form-control" placeholder="Send message to Customer">
                                        <a class="send_btn end" href="#">
                                            <i class="zmdi zmdi-mail-send"></i>
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                    <!-- Chat With Customer Partner End  -->
                </div>
            </div>
        </div>

    </div>
    <!-- Receipt Modal End  -->
</body>


<!-- Mirrored from hungerz.opuslab.works/transactions.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 19 Jul 2021 13:59:26 GMT -->

</html>
