table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
.mat-mdc-header-cell{
  font-weight:bold;
  font-size: medium;
  color: rgb(20, 20, 20);
}
.mat-mdc-cell {
  font-size: 15px;
  padding-top: 7px;
}

.d-padding
{
  padding-bottom: 15px; 
  padding-left: 5px
}
.message{
  font-size: 15px;
  padding-top: 10%;
  text-align: center;
  font-style: italic;
}
.tableStyleMain{ margin-top: 7px ;

  th{
    padding: 10px; 
    //border-right: 1px #e2e3e3 solid; 
    text-align: center;
  }

  td{
    padding: 10px; 
    //border-right: 1px #eceeee  solid; 
    text-align: center;
  }

}
.table{
  border-collapse: unset !important;
}
.btn-wrp-equal button {
  width: 34px;
  margin-bottom: 10px;
  display: inline-block;
  height: 34px;
  border-radius: 50%;
}