<div class="modal-wrapper">

  <h1 class="capital" mat-dialog-title>{{data.name}}
    <button mat-icon-button class="close-button" (click)="close()">
      <mat-icon class="close-icon" color="warn">close</mat-icon>
    </button></h1>

    <mat-dialog-content>
      <mat-selection-list [multiple]="false">
        <mat-list-option
          *ngFor="let item of data.groupedItems; let index = index;"
          [value]="item.name"
          (click)="groupedItemSelect(item, index)"
          class="custom-list-option"
        >
          <div class="row">
            <div class="col-9 capital">
              {{ item.item_name }}
            </div>
            <div class="col-3">
              <b>{{ currency_symbol }}{{ toPrice(item.item_price) }}</b>
            </div>
          </div>
        </mat-list-option>
      </mat-selection-list>
    </mat-dialog-content>
    
  <mat-dialog-actions>
    <div class="text-right button-sec">
      <button class="btn-setup-danger mr-2" (click)="close()">Close</button>
    </div>
  </mat-dialog-actions>
</div>