<!doctype html>
<html lang="en">

<body id="page_authentication">


    <!-- Body Wrapper Start -->
    <div class="body_wrapper">
            <!-- Header Start -->
    <app-header></app-header>
    <!-- Header End -->
        <div class="page_title">
            <div class="row align-items-center mx-0">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0">
                    <div class="d-flex">
                        <h1>Authentication</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card p-4 border-0 rounded-0 animate__animated animate__zoomIn wow" data-wow-duration="1s">
                    <form>
                        <div class="form-group  animate__animated animate__fadeInUp wow">
                            <label>Kitchen App</label>
                            <input type="text" class="form-control" placeholder="" value="+91 987 654 3210">
                        </div>
                        <div class="form-group  animate__animated animate__fadeInUp wow">
                            <input type="text" class="form-control" placeholder="" value="+91 987 654 3210">
                        </div>
                        <div id="add_more_Kitchen_contact"></div>
                        <button
                            class=" animate__animated animate__fadeInUp wow btn btn-outline-primary col-12 col-sm-12 col-md-12 col-lg-12 col-xl-5"
                            type="button" id="Kitchen_contact">
                            <span>+ Add More</span>
                        </button>
                    </form>
                </div>

                <div class="card p-4 border-0 rounded-0 animate__animated animate__zoomIn wow" data-wow-duration="1s">
                    <form>
                        <div class="form-group  animate__animated animate__fadeInUp wow">
                            <label style="text-transform: initial;">eMENU APP</label>
                            <input type="text" class="form-control" placeholder="" value="+91 987 654 3210">
                        </div>
                        <div class="form-group  animate__animated animate__fadeInUp wow">
                            <input type="text" class="form-control" placeholder="" value="+91 987 654 3210">
                        </div>
                        <div class="form-group  animate__animated animate__fadeInUp wow">
                            <input type="text" class="form-control" placeholder="" value="+91 987 654 3210">
                        </div>
                        <div id="add_more_emnu_contact"></div>
                        <button
                            class=" animate__animated animate__fadeInUp wow btn btn-outline-primary col-12 col-sm-12 col-md-12 col-lg-12 col-xl-5"
                            type="button" id="emnu_contact">
                            <span>+ Add More</span>
                        </button>
                    </form>
                </div>

                <div class="card p-4 border-0 rounded-0 animate__animated animate__zoomIn wow" data-wow-duration="1s">
                    <form>
                        <div class="form-group  animate__animated animate__fadeInUp wow">
                            <label>DESK App</label>
                            <input type="text" class="form-control" placeholder="" value="+91 987 654 3210">
                        </div>
                        <div class="form-group  animate__animated animate__fadeInUp wow">
                            <input type="text" class="form-control" placeholder="" value="+91 987 654 3210">
                        </div>
                        <div class="form-group  animate__animated animate__fadeInUp wow">
                            <input type="text" class="form-control" placeholder="" value="+91 987 654 3210">
                        </div>
                        <div id="add_more_desk_app"></div>
                        <button
                            class="animate__animated animate__fadeInUp wow btn btn-outline-primary col-12 col-sm-12 col-md-12 col-lg-12 col-xl-5"
                            type="button" id="desk_app">
                            <span>+ Add More</span>
                        </button>
                    </form>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card p-4 border-0 rounded-0 animate__animated animate__zoomIn wow" data-wow-duration="1s">
                    <form>
                        <div class="form-group  animate__animated animate__fadeInUp wow">
                            <label>Kiosk App</label>
                            <input type="text" class="form-control" placeholder="" value="+91 987 654 3210">
                        </div>
                        <div class="form-group  animate__animated animate__fadeInUp wow">
                            <input type="text" class="form-control" placeholder="" value="+91 987 654 3210">
                        </div>
                        <div class="form-group  animate__animated animate__fadeInUp wow">
                            <input type="text" class="form-control" placeholder="" value="+91 987 654 3210">
                        </div>
                        <div id="add_more_kiosk_app"></div>
                        <button
                            class=" animate__animated animate__fadeInUp wow btn btn-outline-primary col-12 col-sm-12 col-md-12 col-lg-12 col-xl-5"
                            type="button" id="kiosk_app">
                            <span>+ Add More</span>
                        </button>
                    </form>
                </div>

                <div class="card p-4 border-0 rounded-0 animate__animated animate__zoomIn wow" data-wow-duration="1s">
                    <form>
                        <div class="form-group  animate__animated animate__fadeInUp wow">
                            <label>Review App</label>
                            <input type="text" class="form-control" placeholder="" value="+91 987 654 3210">
                        </div>
                        <div class="form-group  animate__animated animate__fadeInUp wow">
                            <input type="text" class="form-control" placeholder="" value="+91 987 654 3210">
                        </div>
                        <div id="add_more_review_app"></div>
                        <button
                            class=" animate__animated animate__fadeInUp wow btn btn-outline-primary col-12 col-sm-12 col-md-12 col-lg-12 col-xl-5"
                            type="button" id="review_app">
                            <span>+ Add More</span>
                        </button>
                    </form>
                </div>

                <button type="submit"
                    class="btn rounded-pill py-3 col-12 col-sm-10 col-md-6 col-lg-6 col-xl-4 ml-auto d-block animate__animated animate__zoomIn wow"
                    data-wow-duration="1s">Save</button>

            </div>
        </div>
    </div>
</body>


<!-- Mirrored from hungerz.opuslab.works/authentication.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 19 Jul 2021 13:59:27 GMT -->

</html>