<!doctype html>
<html lang="en">

<body id="page_booking">

    <!-- Body Wrapper Start -->
    <div class="body_wrapper">
            <!-- Header Start -->
<app-header></app-header>
<!-- Header End -->

        <div class="page_title">
            <div class="row align-items-center mx-0">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 p-0">
                    <div class="title_inner d-flex">
                        <h1 class="d-flex align-items-center">Bookings
                            <!--                            <span class="ml-4">$987.50</span>-->
                        </h1>
                        <button type="button" class="btn"><a data-toggle="modal" data-target="#add_expenses">Book New</a></button>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 p-0 d-flex">
                    <form class="search_box col-12 col-sm-12 col-md-12 col-lg-8 col-xl-7 p-0 px-lg-3 mt-3 mt-lg-0 pb-3 pb-md-0 ml-auto">
                        <div class="form-group d-flex">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="zmdi zmdi-search"></i></div>
                            </div>
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Right Sidebar Start -->
        <div class="right_sidebar">
            <!-- Tab Content Start -->
            <div class="tab-content">
                <!-- Sales Tab Content Start -->
                <div>
                    <!-- Order List Start -->
                    <div class="order_list">
                        <div class="list_header d-flex">
                            <h2 class="order_num Code">Date</h2>
                            <h2 class="text-left Payment ">Time</h2>
                            <h2 class="text-left Name">Customer</h2>
                            <h2 class="text-left  Note">Note</h2>
                            <h2 class="Table Price Date">Updated On</h2>
                            <h2 class="text-right Action">Action</h2>
                        </div>

                        <ul>
                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <h3 class="order_num Code">12 June 2020</h3>
                                <h3 class="text-left Payment"><strong>11:30 am</strong></h3>
                                <h3 class="text-left Name"><strong>Samantha Smith</strong></h3>
                                <h3 class="text-left Note">My Anniversary</h3>
                                <h3 class="Table Price Date">12 June 2020 12:30 pm</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>
                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <h3 class="order_num Code">12 June 2020</h3>
                                <h3 class="text-left Payment"><strong>6:30 pm</strong></h3>
                                <h3 class="text-left Name"><strong>Peter Johnson</strong></h3>
                                <h3 class="text-left Note">Serve Wine Frist</h3>
                                <h3 class="Table Price Date">12 June 2020 12:30 pm</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>
                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <h3 class="order_num Code">13 June 2020</h3>
                                <h3 class="text-left Payment"><strong>3:30 pm</strong></h3>
                                <h3 class="text-left Name"><strong>Emila Davis</strong></h3>
                                <h3 class="text-left Note">Need Clean Space</h3>
                                <h3 class="Table Price Date">12 June 2020 12:30 pm</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>
                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <h3 class="order_num Code">13 June 2020</h3>
                                <h3 class="text-left Payment"><strong>10:30 am</strong></h3>
                                <h3 class="text-left Name"><strong>Rose Merry</strong></h3>
                                <h3 class="text-left Note">No Note</h3>
                                <h3 class="Table Price Date">12 June 2020 12:30 pm</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>
                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <h3 class="order_num Code">13 June 2020</h3>
                                <h3 class="text-left Payment"><strong>1:30 pm</strong></h3>
                                <h3 class="text-left Name"><strong>Stella Williamson</strong></h3>
                                <h3 class="text-left Note">My Son's Birthday</h3>
                                <h3 class="Table Price Date">12 June 2020 12:30 pm</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>
                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <h3 class="order_num Code">14 June 2020</h3>
                                <h3 class="text-left Payment"><strong>5:30 pm</strong></h3>
                                <h3 class="text-left Name"><strong>Lisa Devilson</strong></h3>
                                <h3 class="text-left Note">Frist Date</h3>
                                <h3 class="Table Price Date">12 June 2020 12:30 pm</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>
                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <h3 class="order_num Code">14 June 2020</h3>
                                <h3 class="text-left Payment"><strong>10:00 am</strong></h3>
                                <h3 class="text-left Name"><strong>Paul Haydon</strong></h3>
                                <h3 class="text-left Note">No Note</h3>
                                <h3 class="Table Price Date">12 June 2020 12:30 pm</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>
                            <li class="d-flex animate__animated animate__fadeInUp wow">
                                <h3 class="order_num Code">12 June 2020</h3>
                                <h3 class="text-left Payment"><strong>11:30 am</strong></h3>
                                <h3 class="text-left Name"><strong>Samantha Smith</strong></h3>
                                <h3 class="text-left Note">My Anniversary</h3>
                                <h3 class="Table Price Date">12 June 2020 12:30 pm</h3>
                                <div class="btn_container d-flex mr-0 ml-auto">
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-delete"></i></a>
                                    </button>
                                    <button type="button" class="btn">
                                        <a href="#"><i class="zmdi zmdi-edit"></i></a>
                                    </button>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <!-- Order List End -->

                    <!-- Tab Footer start -->
                    <div class="tab_footer">
                        <div class="row no-gutter align-items-center">
                            <div class="col-12 col-md-12 col-lg-4 pb-3">
                                <h2>Showing 1 to 10 of 126 item</h2>
                            </div>
                            <div class="col-12 col-md-12 col-lg-8 pb-3">
                                <div class="row align-items-center">
                                    <nav class="navigation col-12" aria-label="Page navigation example">
                                        <ul class="pagination justify-content-end mb-0">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="zmdi zmdi-chevron-left"></i></a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#"><i class="zmdi zmdi-chevron-right"></i></a>
                                            </li>
                                        </ul>
                                    </nav>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Tab Footer End -->
                </div>
                <!-- Sales Tab Content End -->
                <!-- Tab Content End -->
            </div>
        </div>
        <!-- Right Sidebar End -->
    </div>
    <!-- Body Wrapper End -->


    <!-- Add Expenses  Modal Start  -->
    <div class="modal fade add_expenses receipt_model px-0" id="add_expenses" tabindex="-1" role="dialog" aria-labelledby="receipt_modelTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">

                <div class="modal-header px-0">
                    <h2 class="col-11 mx-auto">Add Booking</h2>
                </div>
                <div class="modal-body p-0">
                    <form class="pt-2 pt-sm-2 pt-md-4 ">
                        <div class="col-11 mx-auto form_container">
                            <div class="row animate__animated animate__fadeInUp wow" data-wow-duration=".5s">
                                <div class="col-12 col-lg-6 col-md-6 col-sm-12 my-0">
                                    <div class="form-group">
                                        <label>Select Date & Time</label>
                                        <div class="select_box d-flex">
                                            <input mb-0 class="form-control" placeholder="Select Date" id="datetime">
                                            <i class="zmdi zmdi-calendar-alt" style="font-size: 1.3rem; top: 10px;"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6 col-md-6 col-sm-12 my-0">
                                    <div class="form-group">
                                        <label>Select Person</label>
                                        <div class="select_box d-flex">
                                            <select>
                                                <option>Select Person</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                            </select>
                                            <i class="zmdi zmdi-caret-down"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row animate__animated animate__fadeInUp wow" data-wow-duration="1s">
                                <div class="col-12 col-lg-6 col-md-6 col-sm-12 my-0">
                                    <div class="form-group">
                                        <label>Customer Name</label>
                                        <input type="name" class="form-control" value="Samantha Smith">
                                    </div>
                                </div>

                                <div class="col-12 col-lg-6 col-md-6 col-sm-12 my-0">
                                    <div class="form-group">
                                        <label>Phone Number</label>
                                        <input type="name" class="form-control" value="+1 987 654 3210">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group animate__fadeInUp wow" data-wow-duration="1.5s">
                                <label>Notes</label>
                                <!--                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>-->
                                <input class="form-control" id="exampleFormControlTextarea1" placeholder="i.g For Anniversary Surprise">
                            </div>

                        </div>
                    </form>
                </div>
                <div class="modal-footer animate__animated animate__fadeInUp wow" data-wow-duration="1s">
                    <div class="row no-gutters w-100">
                        <div class="col-6"> <button type="file" class="btn Cencel" data-dismiss="modal"><a href="#">Cencel</a></button></div>
                        <div class="col-6"> <button type="file" class="btn"><a href="#">Add Expense</a></button></div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- Add Expenses Modal End  -->
</body>

</html>