<!DOCTYPE html>
<html lang="en">
  <body id="page_setup">


    <!-- Body Wrapper Start -->
    <div class="body_wrapper container-fluid">
          <!-- Header Start -->
    <app-header></app-header>
    <!-- Header End -->
      <div class="px-4">
        <div class="row pt-4">
          <div class="bgSecMainAll">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item cursor-pointer" routerLink="/home/walkin">
                  Home
                </li>
                <li class="breadcrumb-item cursor-pointer" routerLink="/setup">
                  Setup
                </li>
                <li class="breadcrumb-item cursor-pointer" aria-current="page" routerLink="/setup/inventorySetup">
                  Inventory Setup
                </li>
                <li class="breadcrumb-item active" aria-current="page"
                  routerLink="/setup/inventorySetup/settings">
                  Inventory Settings
                </li>
              </ol>
            </nav>
          </div>
          <div class="col-12">
            <div
              class="d-flex align-items-center head-tag"
            >
              <h4><i class="icon-arrow-left mr-1  cursor-pointer"
                (click)="back()"></i>Inventory Settings</h4>
            </div>
          </div>
          <div class="col-12 col-sm-3 com-md-3" (click)="ingredientCategory()">
            <div class="card p-3 p-xl-4 mb-3 cursor-pointer tag-hvr-scn">
              <div class="text-center card-inner-scn">
                <i class="icon-book"></i>
                <p class="pt-2">Ingredient Categories</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-3 com-md-3" (click)="mesurementUnits()">
            <div class="card p-3 p-xl-4 mb-3 cursor-pointer tag-hvr-scn">
              <div class="text-center card-inner-scn">
                <i class="icon-edit"></i>
                <p class="pt-2">Measurement Units</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-3 com-md-3" (click)="suppliers()">
            <div class="card p-3 p-xl-4 mb-3 cursor-pointer tag-hvr-scn">
              <div class="text-center card-inner-scn">
                <i class="icon-share"></i>
                <p class="pt-2">Suppliers</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-3 com-md-3" (click)="itemPreferences()">
            <div class="card p-3 p-xl-4 mb-3 cursor-pointer tag-hvr-scn">
              <div class="text-center card-inner-scn">
                <i class="zmdi zmdi-settings"></i>
                <p class="pt-2">Global Item Preferences</p>
              </div>
            </div>
          </div>
          <!-- <div class="col-12 col-sm-3 com-md-3" (click)="inventoryGlobal()">
            <div class="card p-3 p-xl-4 mb-3 cursor-pointer tag-hvr-scn">
              <div class="text-center card-inner-scn">
                <i class="icon-tags"></i>
                <p class="pt-2">Inventory Global Settings</p>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </body>
</html>
