<!DOCTYPE html>
<html lang="en">

<body id="page_setup">


  <!-- Body Wrapper Start -->
  <div class="body_wrapper container-fluid">
    <!-- Header Start -->
    <app-header></app-header>
    <!-- Header End -->
    <div class="px-4">
      <div class="row pt-4">
        <div class="bgSecMainAll">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item cursor-pointer" routerLink="/home/walkin">
                Home
              </li>
              <li class="breadcrumb-item cursor-pointer" aria-current="page" routerLink="/setup">
                Setup
              </li>
              <li class="breadcrumb-item cursor-pointer" aria-current="page" routerLink="/setup/menuSetup">
                Menu Setup
              </li>
              <li class="breadcrumb-item active cursor-pointer" aria-current="page">
                Menu
              </li>
            </ol>
          </nav>
        </div>
        <div class="col-12">
          <div class="d-flex align-items-center head-tag ">
            <h4 class="flex-gr-1">
              <i class="icon-arrow-left mr-1 cursor-pointer" (click)="back()"> </i>Menu
            </h4>
            <!-- <a href=""><i class="icon-refresh mr-1"></i>Refresh POS Menu</a> -->
            <button class="btn-setup-sucess mx-2" (click)="uploadMenu()">
              <i class="icon-upload mr-1"></i>Upload Menu
            </button>
            <button class="btn-setup-sucess primary " (click)="addMenuItem()">
              <i class="icon-upload mr-1"></i>Add New Menu Item
            </button>
          </div>
        </div>
      </div>
      <div>
        <div class="row col-12">
          <div class="col-12 col-sm-10">
            <!-- <div *ngIf="dataSource.data.length > 0; else message"> -->
            <div class="row">
              <div class="col-12 col-sm-2">
                <select class="form-control w-100" [(ngModel)]="typeWiseFilter" (change)="menuChanged()">
                  <option selected value="0">All</option>
                  <option value="1">Regular</option>
                  <option value="2">Grouped</option>
                  <option value="3">Combo</option>
                  <option value="4">Active</option>
                  <option value="5">Inactive</option>
                </select>
              </div>
              <div class="col-12 col-sm-10">
                <input type="text" #menu class="form-control" placeholder="Search Menu"
                  (keyup)="doFilter(menu.value)" />
              </div>
            </div>
            <!-- <div class="positionFieldWrapper">
                    <div class="positionFieldWrapperPos1">
                      <span class="material-icons">
                        filter_alt
                      </span>

                    </div>
                    <div class="positionFieldWrapperPos2">

                      <input #menu (keyup)="doFilter(menu.value)" type="text" class="form-control fieldInput"
                        placeholder="Search Menu" />
                    </div>
                    <select class="form-control w-100" (change)="menuChanged($event)">
                      <option selected value="0">All</option>
                      <option value="1">Regular</option>
                      <option value="2">Grouped</option>
                      <option value="3">Combo</option>
                    </select>
                  </div> -->
            <div *ngIf="dataSource.data.length <= 0; else showtable">
              <div class="row">
                <div class="col-12">
                  <div class="not-found">
                    <h3>Sorry :(</h3>
                    <p>No menu items Found.</p>
                    <p>Click <a (click)="addMenuItem()" style="color: var(--primary);cursor: pointer;">here</a> to add
                      menu.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #showtable>
              <table mat-table [dataSource]="dataSource" matSort class="tableStyleMain table bordered">
                <ng-container matColumnDef="index">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    #
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{dataSource.data.indexOf(element) + 1}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="ProductInformation">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Product Information
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div class="img-cntr">
                      <img *ngIf="element.image_url" src="{{constant.imageBasePath + element.image_url}}" />
                      <img *ngIf="!element.image_url" src="assets/images/no-image (1).jpg" />
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="ProductName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Name
                  </th>
                  <td mat-cell *matCellDef="let element" style="text-transform: capitalize;">
                    {{ element.name }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="code">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Code
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.item_code }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="Status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Status
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.status==1">Active</span>
                    <span *ngIf="element.status==0">Inactive</span>
                    <div>
                      <mat-slide-toggle [checked]="element.status == 1 ? true : false"
                        (change)="statusChange($event,element.id)"></mat-slide-toggle>
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="priority">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Priority
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <input type="text" class="form-control" style="width:65px" #ip value="{{element.priority}}"
                      (keyup)="changePriority(ip.value,element.id)" />
                  </td>
                </ng-container>
                <!-- <ng-container matColumnDef="ProductDescription">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Product Description
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.description; else description">{{ element.description }}</span>
                    <ng-template #description>
                      <span> -- </span>
                    </ng-template>
                  </td>
                </ng-container> -->
                <ng-container matColumnDef="Price">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Price({{currency_symbol}})
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.default_price == 0; else price">--</span>
                    <ng-template #price>
                      <span> {{element.default_price}} </span>
                    </ng-template>
                  </td>
                </ng-container>
                <ng-container matColumnDef="button">
                  <th mat-header-cell *matHeaderCellDef>Actions</th>
                  <td mat-cell *matCellDef="let element">
                    <button class="btn-setup-sucess commonBtnStyle" style="margin-bottom: -11px;" (click)="edit(element.id)">
                      <i class="zmdi zmdi-edit"></i>
                    </button>&nbsp;
                    <button class="btn-setup-sucess bg-grey commonBtnStyle" (click)=" copyItem(element.id)">
                      <i class="icon-copy"></i>
                    </button>
                    <button class="btn-setup-danger commonBtnStyle" (click)="deleteItem(element.id,element.name)">
                      <i class="zmdi zmdi-delete"></i>
                    </button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
            </ng-template>
            <mat-paginator [ngClass]="{ show: dataSource.data.length <= 0 }" [pageSize]="50"
              [pageSizeOptions]="[50, 100, 150, 200, 250]">
            </mat-paginator>
            <!-- </div> -->
            <!-- <ng-template #message>
                  <p class="message"> No Menu Added. <a routerLink="/setup/menuSetup/addNewMenuItem">Click here</a> to add menu.
                  </p>
                </ng-template> -->

            <div></div>
          </div>
          <div class="col-12 col-sm-2">
            <mat-nav-list class="card">
              <p class="bg-card-grey"><b>MENU CATEGORIES</b></p>
              <mat-list-item [ngClass]="i.id == categoryActive ? 'cardselected' : ''" *ngFor="let i of categoryrecords"
                (click)="categoryChosen(i.id)">{{i.name}}</mat-list-item>
            </mat-nav-list>
            <!-- <div class="pt-3">
                    <button class="btn-setup-sucess" (click)="addCategory()">
                      <i class="icon-plus mr-1"></i>Add Menu category
                    </button>
                  </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
