.close-button {
  float: right;
  top: 7px;
}

.commonBtnStyle {
  height: 35px;
  width: 130px;
  padding: 0;
}

.modify {
  background-color: var(--primary);
  border: none;
}

.actions {
  background-color: #49afcd;
  border: none;
}

.inline-loader {
  width: 100%;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
  }
}